[2022-08-16 05:17] Verisimilitude11 opened #10 "Reverse DNA"
### Overview
The reverse of DNA strands can also reveal information, so the entire program must be performed on both the forward and reverse of the DNA strand entered.

### Alternatives
Just changing the main class isn't possible as the output message would have to change to reflect this change.

[2022-08-16 19:04] Verisimilitude11 opened #11 "Gene(s) with the highest coverage doesn't work as expected"
**Describe the bug**
Gene(s) with the highest coverage doesn't work as expected. It returns an empty line instead of the high GC content DNA strands.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Main.java'
2. Click on 'Run'
3. Enter any amino acid (I used serine as an example)
4. Enter the file `brca1line.fa`
5. Scroll down on the Terminal until you see 'Gene(s) with the highest co

[2022-08-17 01:48] VerisimilitudeX opened #17 "Output content to a HTML webpage instead of to Terminal"

[2022-08-17 01:49] VerisimilitudeX opened #18 "Save the genes found to a new FASTA file"
Save the genes found by the program already to `genes.fa`

[2022-08-17 01:49] VerisimilitudeX opened #19 "Take input from a file, one gene per line"
Remove all occurrences of `\n` in the file, effectively turning this file:
[code]

Into one line:
[code]

[2022-08-17 01:51] Verisimilitude11 opened #21 "Output formatting change"
Add parentheses after the longest gene and say highest coverage and length and then delete the separate section for it

[2022-08-18 18:43] Verisimilitude11 opened #23 "Add support for 3-letter acronym amino acid input"

[2022-08-23 18:00] #23 closed

[2022-08-24 17:32] VerisimilitudeX opened #28 "Reading Frames Not Working"
Defaults to outputting 0 for any values inputted through the arguments.

[2022-08-24 19:27] Verisimilitude11 opened #29 "Get User Input for the DNA File"
### Current
Currently, the user has to change the name of the DNA file by going through the code which is unnecessarily more complicated.

### Action item
Get input from the user for the DNA file to be processed. Perhaps we can use the Scanner class through Java Utilities.

### Alternatives
I tried using the scanner class but it says file not found for some reason.

### Additional context
This cha

[2022-09-03 20:53] Verisimilitude11 opened #37 "(JS-0833) Syntax error"
## Description
Found non-compliant syntax. Confirm that there are no syntax errors before committing your code to a version control system.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JS-0833/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JS-0833/occu

[2022-09-03 20:54] Verisimilitude11 opened #38 "(JAVA-P0361) Inefficient use of keySet iterator instead of entrySet iterator"
## Description
This method accesses the value of a Map entry, using a key that was retrieved from a `keySet` iterator. It is more efficient to use an iterator on the `entrySet` of the map, to avoid the `Map.get(key)` lookup.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-P0361

[2022-09-04 06:17] #37 closed

[2022-09-04 20:21] Verisimilitude11 opened #42 "Refactor GenomeSequencer.getSequenceAndAminoAcid(CodonData)"
I've selected [**GenomeSequencer.getSequenceAndAminoAcid(CodonData)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/GenomeSequencer.java#L14-L115) for refactoring, which is a unit of **71** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Un

[2022-09-04 20:24] Verisimilitude11 opened #43 "Refactor 8 lines occurring 2 times in Properties.java"
I've selected for refactoring 8 lines of code which are duplicated in 1 file(s) ([1](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Properties.java#L80-L87), [2](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Properties.java#L101-L108)).  Addressing this will make our codebase

[2022-09-04 20:24] Verisimilitude11 opened #44 "Refactor AminoAcidProperties.java"
I've selected [**AminoAcidProperties.java**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/AminoAcidProperties.java#L1-L0) for refactoring, which is a module that has **1** instance(s) of improper exception handling ([1](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/AminoAcid

[2022-09-04 20:24] Verisimilitude11 opened #45 "Refactor CodonData.kt"
I've selected [**CodonData.kt**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Kotlin/CodonData.kt#L1-L62) for refactoring, which is a module of **54** lines of code and **22** incoming calls. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Separate Concerns in Module

[2022-09-04 20:25] Verisimilitude11 opened #46 "Refactor CodonData.java"
I've selected [**CodonData.java**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/CodonData.java#L1-L64) for refactoring, which is a module of **55** lines of code and **22** incoming calls. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Separate Concerns in Modules**

[2022-09-04 20:25] Verisimilitude11 opened #47 "Refactor GenomeSequencer.getSequenceAndAminoAcid(java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java)"
I've selected [**GenomeSequencer.getSequenceAndAminoAcid(java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Kotlin/GenomeSequencer.kt#L7-L82) for refactoring, which is a unit of **41** lines of code and **21** parameters. Addressing t

[2022-09-04 20:25] Verisimilitude11 opened #48 "Refactor GeneFromProtein.getAminoAcid(String,String,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java)"
I've selected [**GeneFromProtein.getAminoAcid(String,String,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java,java)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Kotlin/GeneFromProtein.kt#L7-L59) for refactoring, which is a unit of **42** lines of code and **23** parameters. Addressin

[2022-09-04 20:25] Verisimilitude11 opened #49 "Refactor GeneFromProtein.getAminoAcid(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)"
I've selected [**GeneFromProtein.getAminoAcid(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/GeneFromProtein.ja

[2022-09-04 20:25] Verisimilitude11 opened #50 "Refactor GenomeSequencer.getSequenceAndAminoAcid(CodonData)"
I've selected [**GenomeSequencer.getSequenceAndAminoAcid(CodonData)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/GenomeSequencer.java#L14-L115) for refactoring, which is a unit of **71** lines of code and **7** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub

[2022-09-04 20:26] Verisimilitude11 opened #51 "Refactor 7 lines occurring 2 times in 2 files: GeneFromProtein.kt, GenomeSequencer.kt"
I've selected for refactoring 7 lines of code which are duplicated in 2 file(s) ([1](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Kotlin/GeneFromProtein.kt#L9-L15), [2](https://github.com/Verisimilitude11/DNAnalyzer/blob/2431ce12bd06d0435a52a76e5db6bac0e1671647/src/DNAnalyzer/Kotlin/GenomeSequencer.kt#L8-L14)).  Addressing this will ma

[2022-09-05 00:46] #28 closed, assigned to nobody

[2022-09-18 21:35] VerisimilitudeX opened #60 "DNA -> RNA"
Find all occurrences of the `T` nucleotide and convert it to `U`. The user would give an additional command line input through the CLI, which would need to be updated as well.

[2022-09-24 06:52] Verisimilitude11 opened #68 "Update Docs to Reflect Current Code"
Update README.md to reflect current features and add visuals to make it easier to understand/look good.

[2022-09-29 02:47] Kit-p commented on #29
Hi @Verisimilitude11, saw your post in the hacktoberfest Discord server, is it okay if I work on this issue?

It seems like `GenomeSequencer.java` does not exist anymore, I think currently the change would be in `CoreExecutor.java`?

[2022-09-29 02:54] Verisimilitude11 commented on #29
Of course! Do keep in mind that hacktoberfest officially starts on October 1st, so open your pull request after that date for it to be eligible for the challenge. You are correct, it should be in `CoreExecutor.java`, after the rename. I've assigned this issue the `hacktoberfest-accepted` label, which means that you should be all set to contribute. Please let me/the dev team know if you have any qu

[2022-09-29 02:56] Kit-p commented on #29
Thank you!

[2022-09-29 19:16] Speedro commented on #60
Hi, could you provide more info to this? Thanks

[2022-09-29 20:13] Verisimilitude11 commented on #60
Hi @Speedro, thanks for your interest in contributing to the world of open source! This issue has already been claimed by someone else for Hacktoberfest. However, the developer team would really appreciate your help in issue https://github.com/Verisimilitude11/DNAnalyzer/issues/19. If you are interested in this, let me know so that I can give you an overview of what work needs to be done for it. T

[2022-09-29 23:13] #51 closed

[2022-09-29 23:13] #50 closed

[2022-09-29 23:13] #49 closed

[2022-09-29 23:14] #48 closed

[2022-09-29 23:14] #47 closed

[2022-09-29 23:14] #46 closed

[2022-09-29 23:14] #45 closed

[2022-09-29 23:14] #44 closed

[2022-09-29 23:14] #42 closed

[2022-09-29 23:22] Verisimilitude11 opened #69 "Refactor CodonData.java"
I've selected [**CodonData.java**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/CodonData.java#L1-L93) for refactoring, which is a module of **55** lines of code and **21** incoming calls. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Separate Concerns in Modules**

[2022-09-29 23:22] Verisimilitude11 opened #70 "Refactor Properties.formatNucleotideCount(String,int,String)"
I've selected [**Properties.formatNucleotideCount(String,int,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/Properties.java#L103-L105) for refactoring, which is a unit of **3** lines of code and **3** parameters. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s

[2022-09-29 23:22] Verisimilitude11 opened #71 "Refactor ReadingFrames.ReadingFrames(String,short,int,int)"
I've selected [**ReadingFrames.ReadingFrames(String,short,int,int)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/ReadingFrames.java#L42-L48) for refactoring, which is a unit of **7** lines of code and **4** parameters. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s

[2022-09-29 23:22] Verisimilitude11 opened #72 "Refactor ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)"
I've selected [**ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/ProteinFinder.java#L26

[2022-09-29 23:22] Verisimilitude11 opened #73 "Refactor Properties.isRandomDNA(String)"
I've selected [**Properties.isRandomDNA(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/Properties.java#L153-L165) for refactoring, which is a unit of **9** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple Un

[2022-09-29 23:22] Verisimilitude11 opened #74 "Refactor Properties.countNucleotides(String)"
I've selected [**Properties.countNucleotides(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/Properties.java#L114-L128) for refactoring, which is a unit of **14** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Sim

[2022-09-29 23:22] Verisimilitude11 opened #75 "Refactor CodonData.getAminoAcid(AminoAcidNames)"
I've selected [**CodonData.getAminoAcid(AminoAcidNames)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/CodonData.java#L68-L92) for refactoring, which is a unit of **25** lines of code and **21** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Si

[2022-09-29 23:22] Verisimilitude11 opened #76 "Refactor Properties.printProteinList(ArrayList,String)"
I've selected [**Properties.printProteinList(ArrayList,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/Properties.java#L35-L74) for refactoring, which is a unit of **33** lines of code and **20** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **

[2022-09-29 23:22] Verisimilitude11 opened #77 "Refactor ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)"
I've selected [**ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/ProteinFinder.java#L26

[2022-09-29 23:22] Verisimilitude11 opened #78 "Refactor CodonData.getAminoAcid(AminoAcidNames)"
I've selected [**CodonData.getAminoAcid(AminoAcidNames)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/CodonData.java#L68-L92) for refactoring, which is a unit of **25** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code** guide

[2022-09-29 23:22] Verisimilitude11 opened #79 "Refactor CoreExecutor.defaultCaller()"
I've selected [**CoreExecutor.defaultCaller()**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/CoreExecutor.java#L114-L159) for refactoring, which is a unit of **26** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code** guideline

[2022-09-29 23:22] Verisimilitude11 opened #80 "Refactor CoreExecutor.createProteinList(String,String)"
I've selected [**CoreExecutor.createProteinList(String,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/CoreExecutor.java#L79-L105) for refactoring, which is a unit of **27** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of C

[2022-09-29 23:22] Verisimilitude11 opened #81 "Refactor Properties.printProteinList(ArrayList,String)"
I've selected [**Properties.printProteinList(ArrayList,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/Properties.java#L35-L74) for refactoring, which is a unit of **33** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code

[2022-09-29 23:22] VerisimilitudeX opened #82 "Refactor ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)"
I've selected [**ProteinFinder.getProtein(String,String,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList,ArrayList)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/5092890e50acec640441254ba5196a045f219f18/src/DNAnalyzer/ProteinFinder.java#L26

[2022-09-30 00:51] charlygg commented on #17
Can you specify please more information about this requirement? Also, I can help with this

[2022-09-30 03:58] Verisimilitude11 commented on #17
Hi @charlygg, thanks for your interest in contributing to the world of open source! Outputting the content of the program to a static web page is something that the developer team will really appreciate. To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. Than

[2022-09-30 04:11] Verisimilitude11 commented on #17
Regarding the requirements for this issue, I actually don't have a strong background in web development. However, @Nv7-GitHub should be able to answer this question pretty well. We'll get back to you within 24 hours.
However, in a broad sense, we could go about this in 2 ways:
1. The program currently outputs to the Terminal - change this to output to a static web page (use a Servlet container wit

[2022-09-30 04:52] FireNdIce3 commented on #82
Hi there! Can I work on this issue?

[2022-09-30 04:53] basil08 commented on #19
Hi @Verisimilitude11 , can you provide more info on this?

[2022-09-30 04:55] Verisimilitude11 commented on #82
Sure! Let me know if you have any questions.

[2022-09-30 07:00] Speedro commented on #60
Hi @Verisimilitude11 thanks for your reply. I've went through the code base. I will gladly help with mentioned [issue](https://github.com/Verisimilitude11/DNAnalyzer/issues/19). It would be great if you provide some description to that. I'll have at other issues in the backlog and pick what I can help with. I will comment under each task separately.

[2022-09-30 07:04] Speedro commented on #81
Possible duplicate for #76 ?

[2022-09-30 07:14] Speedro commented on #74
Hi @Verisimilitude11 I would like to try to refactor this one. Is that possible?

[2022-09-30 07:14] Speedro commented on #79
Hi @Verisimilitude11 I would like to try to refactor this one. Is it possible?

[2022-09-30 11:40] sumitbishti opened #83 "Code of Conduct file is missing !!"
I can add the file for you.

[2022-09-30 14:15] Verisimilitude11 commented on #83
Sounds great @sumitbishti!

[2022-09-30 14:33] B4CKF1SH commented on #77
possible duplicate of #82

[2022-09-30 14:41] B4CKF1SH commented on #73
I'd love to handle this issue :)

[2022-09-30 14:44] B4CKF1SH opened #84 "Possible Refactor for Utility classes"
Some utility methods in this project are not marked as static when they could be, requiring unnecessary instancing.

As this doesn't belong strictly into any of the other refactors, I opened a new issue.
I am willing to create a PR for this.

[2022-09-30 15:18] sumitbishti commented on #83
Could you please add Hacktoberfest label on to it?

[2022-09-30 15:23] sumitbishti commented on #83
Actually you already have that file. Should I add Contributing-Guidelines file then ?

[2022-09-30 16:23] Verisimilitude11 commented on #83
Sure. that seems like a good idea. Feel free to update and add more documentation as you see fit. I'll add the `Hacktoberfest-accepted` label to all of the issues that you open.

[2022-09-30 16:24] sumitbishti commented on #83
Very well then. Thank you for that.

[2022-09-30 16:26] Verisimilitude11 commented on #84
Sure thing, feel free to get started on this. Please let me know if you have any questions. I added the `hacktoberfest-accepted` label to this issue.

[2022-09-30 16:26] Verisimilitude11 commented on #83
No problem. If you get time, create another issue for style guidelines as well.

[2022-09-30 16:29] #77 closed

[2022-09-30 16:42] sumitbishti commented on #83
Sure, I will keep that in mind.

[2022-09-30 16:58] Verisimilitude11 commented on #79
Sure, please feel free to ask me any questions that you may have!

[2022-09-30 17:01] Verisimilitude11 commented on #74
Sure. Make sure to create the PR after October 1st to ensure that it is eligible for Hacktoberfest.

[2022-09-30 17:02] Verisimilitude11 commented on #73
Sure. Make sure to create the PR after October 1st to ensure that it is eligible for Hacktoberfest.

[2022-09-30 17:07] #29 closed

[2022-09-30 17:11] shubhwip commented on #72
Can you please assign this to me ?

[2022-09-30 17:12] shubhwip commented on #69
Can you please assign this to me ?

[2022-09-30 17:41] Verisimilitude11 commented on #72
Sure!

[2022-09-30 17:42] Verisimilitude11 commented on #69
👍

[2022-09-30 19:41] Speedro commented on #76
Hi @Verisimilitude11 I would take this one as well, as it might colied with some code changes from #74 (Property class) so we can avoid some merge conflicts with others...

[2022-09-30 20:26] Verisimilitude11 commented on #76
Sure, good idea. I assigned it to you.

[2022-10-01 02:40] Verisimilitude11 opened #90 "Check and Update Javadocs"
**Describe the solution you'd like**
Verify that Javadocs match the class/method's purpose (@param and @return, description, etc. are accurate). If there are inconsistencies present, please update them. Additionally, please add more comments throughout the code as well as more details to the Javadocs.

**Additional context**
<img width="237" alt="image" src="https://user-images.githubusercontent.c

[2022-10-01 02:57] Verisimilitude11 opened #91 "(JAVA-D1001) Undocumented method found"
## Description
This method does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/)

[2022-10-01 03:01] #11 closed

[2022-10-01 03:25] aakash232 commented on #91
Please assign me this issue @Verisimilitude11

[2022-10-01 04:36] Verisimilitude11 commented on #91
I'll approve your PR once you create one.

[2022-10-01 04:43] #83 closed

[2022-10-01 04:50] Verisimilitude11 commented on #17
@Nv7-GitHub could you please help us with this?

[2022-10-01 04:55] iamHrithikRaj commented on #90
hey, I would like to work on this

[2022-10-01 04:58] iamHrithikRaj commented on #80
Hey, I'd like to work on this. please assign this ticket to me

[2022-10-01 05:00] Verisimilitude11 commented on #90
Sounds good, this will require a lot of cross-checking so please let me know if you face any issues or have any questions/concerns. Thanks for helping us out, we really appreciate it!

[2022-10-01 05:04] Verisimilitude11 commented on #80
Done.

[2022-10-01 05:07] Verisimilitude11 commented on #91
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:07] Verisimilitude11 commented on #90
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:07] Verisimilitude11 commented on #84
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:08] Verisimilitude11 commented on #82
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:08] Verisimilitude11 commented on #81
I don't think so...Since they're dealing with the same file, maybe you can work on both of these.

[2022-10-01 05:08] Verisimilitude11 commented on #79
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:09] FireNdIce3 commented on #82
Okay, thanks!

[2022-10-01 05:10] Verisimilitude11 commented on #75
Limit the number of if statements, for loops, while loops, etc. per method to only 4. Please let me know if you have any other clarifying questions.

[2022-10-01 05:10] Verisimilitude11 commented on #73
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:10] Verisimilitude11 commented on #72
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:13] Verisimilitude11 commented on #19
So currently, if you look at the code, DNAnalyzer is only able to read one line of a file. For example, in the following file:
<img width="271" alt="image" src="https://user-images.githubusercontent.com/96280466/193393689-0779e2be-53e2-470e-8e24-e228daf83a2f.png">
Only the first line would get analyzed. Could you please implement a method that can combine files that have multiple lines into a stri

[2022-10-01 05:13] Verisimilitude11 commented on #19
To get started, navigate to our GitHub repository: https://github.com/Verisimilitude11/DNAnalyzer and fork it. Take some time to read the documentation and to acquaint yourself with the code. After making changes, create a pull request. I usually accept PRs within 12 hours, just in case you do want to be one of the 40,000 that get a t-shirt for Hacktoberfest!

[2022-10-01 05:17] FireNdIce3 commented on #82
Hi there. I have a query. Can I use var args in this function to make the code simpler?

[2022-10-01 06:18] Kaushik-Iyer commented on #81
Can I try to work on this?

[2022-10-01 06:19] aakash232 commented on #91
@Verisimilitude11 Please review the PR#93.
Do let me know if any changes are required.

[2022-10-01 07:40] sumitbishti opened #95 "[Documentation] Code Conventions and Style Guidelines"
A markdown file stating all the necessary Code conventions and style guidelines for DNAnalyzer Project.
And a minor typo at Contributing_Guidelines.md file!

[2022-10-01 08:19] shubhwip commented on #78
Can you assign this to me ?

[2022-10-01 08:21] shubhwip commented on #71
Please assign this to me.

[2022-10-01 08:29] harikesh409 commented on #70
Can you assign this to me

[2022-10-01 08:32] harikesh409 commented on #70
It's already having 3 parameters what kind of refactoring are you expecting?

[2022-10-01 10:48] androlover98 commented on #75
Please assign this to me

[2022-10-01 13:15] prasoonmhwr commented on #19
@Verisimilitude11 if not yet assigned , can you assign it to me?

[2022-10-01 21:22] Verisimilitude11 commented on #82
Hello! Could you please clarify/provide an example of what you mean by using var args? Thanks!

[2022-10-01 21:25] #91 closed

[2022-10-01 21:25] Verisimilitude11 commented on #81
Sure!

[2022-10-01 21:38] Verisimilitude11 commented on #70
Apologies! I think that this issue was already fixed. Thanks for noticing. Feel free to work on another open issue!

[2022-10-01 21:38] #70 closed

[2022-10-01 21:46] Verisimilitude11 commented on #75
No, #78 is looking at the lines of code, while this is about the number of branch points.

[2022-10-01 21:51] Verisimilitude11 commented on #19
@basil08 are you interested in working on this?

[2022-10-01 21:57] #90 closed

[2022-10-01 22:02] #84 closed

[2022-10-01 22:06] iamHrithikRaj commented on #68
can you elaborate more on this issue?

[2022-10-01 22:09] #80 closed

[2022-10-01 22:15] Verisimilitude11 commented on #82
Never mind, I understand what you mean, feel free to use it!

[2022-10-01 22:17] Verisimilitude11 commented on #68
Done! Let me know if you need additional clarification.

[2022-10-01 22:18] iamHrithikRaj commented on #68
aight got it, you can assign this to me. I'd like to work on it

[2022-10-01 22:19] Verisimilitude11 commented on #68
Sounds good!

[2022-10-02 00:58] Verisimilitude11 commented on #18
FASTA files are similar to TXT files, help on this issue would be much appreciated!

[2022-10-02 01:01] Verisimilitude11 opened #103 "Count the Number of Base Pairs in the DNA (AT & GC)"

[2022-10-02 01:04] Verisimilitude11 opened #104 "Get User Input for Reading Frame"
Currently, the user has to go into the `CoreExecutor.java` file, scroll down to line 140, and then change the value of the reading frame. This should be changed to get input from the user at the start of the program.

[2022-10-02 01:04] Verisimilitude11 opened #105 "Detect Transcription Factors"
https://en.wikipedia.org/wiki/Transcription_factor

[2022-10-02 01:05] Verisimilitude11 opened #106 "Detect Regulatory Elements"
https://en.wikipedia.org/wiki/Regulation_of_gene_expression

[2022-10-02 01:09] Verisimilitude11 opened #107 "Get User Input for MIN and MAX in Reading Frames"
Currently, the user has to go into the `CoreExecutor.java` file, scroll down to line 141 & 142, and then change the value of the reading frame. This should be changed to get input from the user at the start of the program.

[2022-10-02 01:12] Verisimilitude11 opened #108 "Take Input From 2+ DNA Files and Compare Them For Similarities"
The DNA sequence may be [aligned](https://en.wikipedia.org/wiki/Sequence_alignment) with other DNA sequences to identify [homologous sequences](https://en.wikipedia.org/wiki/Sequence_homology) and locate the specific [mutations](https://en.wikipedia.org/wiki/Mutation) that make them distinct. These techniques, especially [multiple sequence alignment](https://en.wikipedia.org/wiki/Multiple_sequence

[2022-10-02 04:51] #69 closed

[2022-10-02 05:03] basil08 commented on #19
@Verisimilitude11  Yes, I'm working on this!

[2022-10-02 05:06] Verisimilitude11 commented on #19
@prasoonmhwr feel free to work on another issue - we have a ton of them! Thanks for your interest in contributing to DNAnalyzer!

[2022-10-02 05:11] #72 closed

[2022-10-02 05:24] #71 closed

[2022-10-02 05:51] Lumary2 commented on #107
Good morning, I would like to work on this.

[2022-10-02 08:51] Kaushik-Iyer commented on #81
Sorry, I'm not able to figure out a solution. You can assign this to someone else

[2022-10-02 09:39] akshatjainei commented on #103
Which file to refer? Kindly add some description as well

[2022-10-02 13:44] frankschmitt commented on #104
I'd like to give this one a try. One question: do you want to get the input interactively (via a dialog) or as a command-line argument or both?

[2022-10-02 14:02] frankschmitt opened #117 "Switch build to Gradle build tool"
**Is your feature request related to a problem? Please describe.**
Currently, building / running the project can only be done by executing ```javac Main.java``` / ```java Main``` manually (or running Main from your IDE, e.g. Eclipse). This is especially confusing for new users, who are used to Maven or Gradle and simply wish to run

[code]

to build their project without having to worry about the

[2022-10-02 19:30] Nv7-GitHub commented on #17
Yeah, the first method would be pretty easily integrated with the existing codebase (just output HTML code instead of formatted text), but the second one would require a lot more code (code an HTTP server). I could implement generating an HTML output file soon though, probably as an option for the output format.

[2022-10-02 20:26] codingmickey commented on #79
Can I work on this or the previous contributor is still going on?

[2022-10-02 20:28] codingmickey commented on #73
Can I work on this or the previous contributor is still going on?

[2022-10-02 20:51] Speedro commented on #79
Hi @codingmickey I am still working on this.

[2022-10-02 22:23] Verisimilitude11 commented on #104
We're planning on creating a GUI soon, but for now just asking the user for input through the Scanner class should be good. Would you be interested in helping us with a GUI when we get to that?

[2022-10-02 23:05] Verisimilitude11 commented on #117
Sure, sounds great! I would prefer using Gradle as well. One question, would a user still be able to run the program using `main`?

[2022-10-02 23:06] Verisimilitude11 commented on #117
Feel free to get started on this!

[2022-10-02 23:17] naXa777 commented on #117
Yes, sure.

[2022-10-02 23:26] Verisimilitude11 commented on #117
Sounds good, I'll approve your PRs as they come. Afterwards, perhaps we can set up a GitHub Actions pipeline for Gradle.

[2022-10-03 00:10] garyglatfelter commented on #81
Hi,

I might be able to help. I'm not sure what the _best_ way to do it is, but I can think of an _ok-ish_ way to do it. I'm thinking Properties should have a Map data field where the different keys (variations of amino acid name) has values set to the full name. Let me know if you'd like me to try that out.

[2022-10-03 01:01] Verisimilitude11 commented on #104
Actually, this issue has already been resolved. Could you please implement a GUI version to allow the user to select from options? Thanks!

[2022-10-03 01:02] Verisimilitude11 commented on #81
Sure, feel free. This seems like a good solution. I'll approve your PRs as they come in. Thanks for your help!

[2022-10-03 01:08] Verisimilitude11 commented on #17
Sounds good @Nv7-GitHub. Let's go with option 1 then. I assigned the issue to you.

[2022-10-03 01:13] Verisimilitude11 commented on #74
Thanks @Speedro for working on this issue! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:15] #74 closed

[2022-10-03 01:16] #75 closed

[2022-10-03 01:17] Verisimilitude11 commented on #78
Thanks @shubhwip for working on this issue! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:18] Verisimilitude11 commented on #79
Feel free to work on one of our other open issues! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:18] Verisimilitude11 commented on #81
Thanks @garyglatfelter for working on this issue! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:22] Verisimilitude11 commented on #107
Thanks @Lumary2 for working on this issue! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:22] #107 closed

[2022-10-03 01:23] Verisimilitude11 commented on #104
Thanks @frankschmitt for working on this issue! To support the mission of DNAnalyzer, I'd really appreciate it if you would give this repository a star! Thanks again for your contributions!

[2022-10-03 01:24] Verisimilitude11 opened #121 "GUI"

[2022-10-03 01:25] Verisimilitude11 opened #122 "CLI"

[2022-10-03 04:39] Nv7-GitHub commented on #122
We could either add a java cli library or perhaps use [picocli](https://github.com/remkop/picocli/blob/main/src/main/java/picocli/CommandLine.java)

[2022-10-03 05:25] Nv7-GitHub commented on #122
Made one using picocli - #123

[2022-10-03 06:23] #78 closed

[2022-10-03 06:29] Verisimilitude11 commented on #117
Once you implement this, it would be great if you could create a separate PR with documentation.

[2022-10-03 07:32] Verisimilitude11 commented on #121
@frankschmitt would you like to work on this?

[2022-10-03 08:20] Lumary2 commented on #106
Hi, could you specify what exactly needs to be implemented? :-)

[2022-10-03 09:15] frankschmitt commented on #121
I'm a little bit hesitant (the last time I did a GUI project in Java was > 10 years ago). I've got a couple of questions regarding this:
- what kind of GUI would you prefer? A desktop app or a locally running web app?
- if it's a Desktop app: what GUI framework do you prefer? JavaFX, Swing, AWT, SWT, ...?

[2022-10-03 14:06] charlygg commented on #17
Understood, If you are generating the output in HTML, I could integrate some styles (CSS) to the output page (HTML)

[2022-10-03 15:58] Verisimilitude11 commented on #106
Hi @Lumary2. Please allow me some time to update the information to ensure its accuracy. In the meantime, feel free to read the following Wikipedia article: https://en.wikipedia.org/wiki/Cis-regulatory_element

[2022-10-03 15:58] Verisimilitude11 commented on #73
Sounds good, no rush!

[2022-10-03 16:26] Verisimilitude11 commented on #17
Sounds great! Would it be possible to implement this in both light and dark mode?

[2022-10-03 16:27] Verisimilitude11 commented on #17
Maybe the website can have information about DNAnalyzer as well (from the README)

[2022-10-03 18:02] Nv7-GitHub commented on #121
It could also perhaps be a website

[2022-10-03 18:05] Nv7-GitHub commented on #17
Actually we could do it how `go tool pprof` does it where it normally outputs to terminal but has an option to host a webserver which returns an HTML page with the data on it

[2022-10-03 18:23] Verisimilitude11 commented on #17
2 questions:
1. Would something like this be able to be implemented in Java?
2. Would CSS be able to implemented in addition to this?

[2022-10-03 18:27] Nv7-GitHub commented on #17
Yeah I´ve made a static HTTP server without any java dependencies before, and CSS could definitely be implemented in the static page to have a dark & light mode.

[2022-10-03 18:29] Verisimilitude11 commented on #17
Epic. @charlygg does this sound like something you can implement with the help of @Nv7-GitHub and me?

[2022-10-03 19:46] achiverram28 commented on #108
Could you give more insights as it how would I be able to contribute

[2022-10-04 06:52] iamHrithikRaj opened #128 "Infinite Loop detected"
**The bug**
While running the program, if the path to the file is incorrect the program goes into an infinite loop.

**To Reproduce**
Steps to reproduce the behavior:
1. execute the program with the command `java DNAnalyzer.Main`
2. you'll be prompted with "Enter the path to the file to be analyzed:"
3. enter some wrong path
4. you'll see the program is now stuck in an infinite loop with a message

[2022-10-04 06:56] iamHrithikRaj commented on #128
@Verisimilitude11 if you think this issue is valid please add `hacktoberfest-accepted` tag to this issue

[2022-10-04 11:30] Speedro commented on #105
Hi @Verisimilitude11 I would like to have a look at this one, if that's possible. 🚀

[2022-10-04 15:59] #68 closed

[2022-10-04 16:00] #128 closed

[2022-10-04 16:02] #122 closed

[2022-10-04 16:07] Verisimilitude11 opened #130 "Documentation for CLI in README"
By @Nv7-GitHub:
This uses CLI arguments instead of `stdin`.  For example, you can do
[code]
or
[code]

Help message:
[code]

[2022-10-04 16:36] Verisimilitude11 opened #131 "(JAVA-P0361) Inefficient use of keySet iterator instead of entrySet iterator"
## Description
This method accesses the value of a Map entry, using a key that was retrieved from a `keySet` iterator. It is more efficient to use an iterator on the `entrySet` of the map, to avoid the `Map.get(key)` lookup.

## Occurrences
There are 6 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-P03

[2022-10-04 16:36] Verisimilitude11 opened #132 "(JAVA-D1001) Undocumented method found"
## Description
This method does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There are 609 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/)

[2022-10-04 16:36] Verisimilitude11 opened #133 "(JAVA-D1003) Undocumented declaration found"
## Description
This declaration is not documented. Consider adding a documentation comment to explain its functionality.

## Occurrences
There are 3 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/)

[2022-10-04 16:36] Verisimilitude11 opened #134 "(JAVA-E0048) Clone method does not invoke super method"
## Description
Non-final class defines a `clone` method that does not call `super.clone`.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0048/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0048/occurrences/)

[2022-10-04 16:36] Verisimilitude11 opened #135 "(JAVA-E0169) Classes should not have the same name as any of their superclasses or implemented interfaces"
## Description
This class/interface has a name that is identical to that of an implemented/extended class or interface, except that the supertype is in a different package (e.g., `alpha.Foo` extends `beta.Foo`).

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0169/occurrence

[2022-10-04 16:37] Verisimilitude11 opened #136 "(JAVA-E0214) For loop appears to check one variable and increment another"
## Description
There is a complicated, subtle or wrong increment in this `for` loop. It appears that the variable being checked in the loop&#x27;s condition is not the same as the one being updated.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0214/occurrences/](https://d

[2022-10-04 16:37] Verisimilitude11 opened #137 "(JAVA-E1065) Private field is never initialized"
## Description
This private field is never initialized before use. This may cause improper behavior at runtime, or even a `NullPointerException`. Check if the logic that uses the field is correct; add an initializer to the declaration or initialize the field at an appropriate point before use.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSour

[2022-10-04 16:37] Verisimilitude11 opened #138 "(JAVA-W0052) Empty catch clauses may hide exceptions"
## Description
When a `catch` clause is empty, it essentially ignores any occurrences of the particular exception it handles. This could allow critical bugs to go undiagnosed because any relevant exceptions indicative of a bug would be discarded within this `catch` block.

## Occurrences
There are 10 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource

[2022-10-04 16:37] Verisimilitude11 opened #139 "(JAVA-W0100) Class doesn't override `equals` from superclass"
## Description
This class extends a class that defines `equals` and adds fields, but doesn&#x27;t define `equals` itself. Thus, equality on instances of this class will ignore its identity and its added fields.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W0100/occurrences/]

[2022-10-04 16:37] Verisimilitude11 opened #140 "(JAVA-W0100) Class doesn't override `equals` from superclass"
## Description
This class extends a class that defines `equals` and adds fields, but doesn&#x27;t define `equals` itself. Thus, equality on instances of this class will ignore its identity and its added fields.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W0100/occurrences/]

[2022-10-04 16:37] Verisimilitude11 opened #141 "(JAVA-W0324) Private method is never called"
## Description
This private method is never called. Although it is possible that the method will be invoked through reflection, it is more likely that the method is never used, and should be removed.

## Occurrences
There are 19 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W0324/occurrences/](https:/

[2022-10-04 16:37] Verisimilitude11 opened #142 "(JAVA-W1007) Fields must not shadow other fields with the same name from super classes"
## Description
This field appears to have the same name as a field in a super class. This will prevent the superclass field from being accessed, and you will only be able to access the new field.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1007/occurrences/](https://deepso

[2022-10-04 16:37] Verisimilitude11 opened #143 "(JAVA-W1036) Object should not be passed where a generic type is expected"
## Description
This code appears to pass a value of type `java.lang.Object` where a generic typed argument would have been expected. This will cause errors such as `ClassCastException`s if the value passed is not of the correct type at runtime. Avoid passing `Object` values to methods that expect generic types unless there …

## Occurrences
There are 29 occurrences of this issue in the repository.

[2022-10-04 16:38] Verisimilitude11 opened #144 "(JAVA-W1042) Overly generic exceptions should not be thrown"
## Description
`throws` clauses should not contain generic exception types such as `Throwable`, `Exception`, or `RuntimeException`. Instead, extend `RuntimeException` and create more specific exception types which are relevant to your use case.

## Occurrences
There are 49 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAn

[2022-10-04 16:38] Verisimilitude11 opened #145 "(JAVA-W1048) Negating the result of `compareTo`/`compare` may have unexpected results"
## Description
This code negates the return value of a `compareTo` or `compare` method. Avoid doing so, as it is both confusing and may lead to unexpected behavior.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1048/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNA

[2022-10-04 16:38] Verisimilitude11 opened #146 "(JAVA-D1002) Undocumented constructor found"
## Description
This constructor does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There are 75 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1002/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1002/occurrences/

[2022-10-04 16:38] Verisimilitude11 opened #147 "(JAVA-D1000) Undocumented class found"
## Description
This class does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There are 53 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/)

[2022-10-04 16:38] Verisimilitude11 opened #148 "(JAVA-W1047) Useless control flow detected"
## Description
This method contains a useless control flow statement, where control flow continues onto the same place regardless of whether the branch is taken or not. For example, this is caused by having an empty statement block for an `if` statement, or having a conditional that always fails or succeeds:

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrence

[2022-10-04 16:38] Verisimilitude11 opened #149 "(JAVA-P0335) Inefficient use of `toArray` with non-zero sized array argument"
## Description
This method uses `toArray` with a non-zero sized array argument. This is less efficient than passing a zero-sized array.

## Occurrences
There are 4 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-P0335/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-P0335/oc

[2022-10-04 16:38] Verisimilitude11 opened #150 "(JAVA-P1000) Non-null boxed types are inefficient"
## Description
Java&#x27;s objects inherently add some overhead in terms of CPU and memory usage, and this overhead extends to boxed primitive types as well. Avoid using the boxed object versions of primitives where they are not necessary.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/i

[2022-10-04 16:40] Verisimilitude11 opened #151 "(JAVA-W0060) `System.exit()` should only be invoked within application entry points"
## Description
This method invokes `System.exit()`, and is called by other code. This can prevent proper error handling and debugging.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W0060/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W0060/occur

[2022-10-04 16:44] #151 closed

[2022-10-04 16:44] #149 closed

[2022-10-04 16:45] #148 closed

[2022-10-04 16:45] #146 closed

[2022-10-04 16:45] #147 closed

[2022-10-04 16:45] #145 closed

[2022-10-04 16:45] #143 closed

[2022-10-04 16:45] #142 closed

[2022-10-04 16:45] #141 closed

[2022-10-04 16:45] #140 closed

[2022-10-04 16:45] #139 closed

[2022-10-04 16:45] #138 closed

[2022-10-04 16:45] #137 closed

[2022-10-04 16:45] #136 closed

[2022-10-04 16:45] #135 closed

[2022-10-04 16:45] #134 closed

[2022-10-04 16:45] #133 closed

[2022-10-04 16:45] #132 closed

[2022-10-04 16:45] #131 closed

[2022-10-04 16:46] Verisimilitude11 opened #152 "(JAVA-W0324) Private method is never called"
## Description
This private method is never called. Although it is possible that the method will be invoked through reflection, it is more likely that the method is never used, and should be removed. Page 4 of DeepSource issues.

## Occurrences
There are 19 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAV

[2022-10-04 16:48] Verisimilitude11 opened #153 "(JAVA-D1000) Undocumented class found"
## Description
This class does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
[src/DNAnalyzer/CmdArgs.java](https://github.com/Verisimilitude11/DNAnalyzer/blob/main/src/DNAnalyzer/CmdArgs.java#L10-L33)
![image](https://user-images.githubusercontent.com/96280466/193878985-9de607c9-bc70-424c-a5f8-a6c652e02b09.png)

[2022-10-04 18:59] Speedro opened #154 "Move the CoreExecutor stuff into the run method"
https://github.com/Verisimilitude11/DNAnalyzer/pull/126#issuecomment-1265835386

The CoreExecutor class should only be responsible for one thing - running the app. Try to refactor it so that all the logic related to actually running the app stays at one place.

[2022-10-04 21:01] charlygg commented on #17
Yes, I can work on the style for the output page, both dark & light mode

[2022-10-05 03:04] Nv7-GitHub commented on #154
I'm going to make a PR that does this

[2022-10-05 03:10] aminisonya commented on #130
I'd like to work on this as part of hacktoberfest, but I'm confused on what you want added here. Do you want this information added to the top level readme file?

[2022-10-05 04:05] Verisimilitude11 commented on #130
Yes please! Just replace what is currently under the `Usage` header with this content. It would be really helpful if you would expand on this and make it easier to understand for new users. Thanks for your help and interest in contributing to DNAnalyzer!

[2022-10-05 16:02] Verisimilitude11 commented on #121
Hi @RamAIbot, we are looking for someone who could perhaps implement a JavaFX GUI for DNAnalyzer. Honestly, there isn't a lot of specification for this, so please feel free to implement this in any way you'd like. Let me know if you have any further questions!

[2022-10-05 16:04] Verisimilitude11 commented on #108
Hi @achiverram28, ideally you would create a class that compares 2 DNA strings inputted and tells the user which parts are common and which are distinct. Let me know if you have any further questions.

[2022-10-05 16:07] Verisimilitude11 commented on #105
Sure @Speedro. I actually need some time to do some research about transcription factors in order to update the description. If you want to get started earlier, feel free to research this using the Wikipedia article above.

[2022-10-05 16:09] Verisimilitude11 commented on #103
In https://github.com/Verisimilitude11/DNAnalyzer/tree/main/src/DNAnalyzer, please count the number of base pairs (# of ATs + # of TAs + # of GCs + # of CGs). Let me know if you have any other questions.

[2022-10-05 16:18] Speedro commented on #105
Fine, thanks, I will go through the wiki article, but would be great if there is some further description. I also wanted to ask how does it look with the unit tests. I believe that would be really beneficial to introduce them and as the gradle is already adopted, we could include the junit pretty easily.

[2022-10-05 16:47] Nv7-GitHub commented on #154
Did this with #155

[2022-10-05 17:15] aminisonya commented on #130
I don't see a `Usage` header in the readme. Do you want me to add one?

[2022-10-05 17:37] Nv7-GitHub opened #156 "Protein finding"
Being able to find a protein/test if it exists in the dna sequence is useful in DNA analyzing. I will implement it as an optional parameter to the CLI.

[2022-10-05 18:08] achiverram28 commented on #108
Ok . sure I would like to work on this , please tell me if you have any standard file which I can follow for my work.
Please assign me this

[2022-10-05 19:28] Verisimilitude11 commented on #108
Alright. Use `assets/dna/random/dnalong.fa` and serine (or ser) for testing. 10-10000 codons and the 1st reading frame should be fine for testing purposes.

[2022-10-05 19:28] Verisimilitude11 commented on #108
Let me know if you have any further questions.

[2022-10-05 19:31] Verisimilitude11 commented on #130
Sure, I think that I haven't merged that PR yet. Feel free to add a `Usage` header.

[2022-10-05 19:35] Verisimilitude11 commented on #156
I got the whole human body's DNA from The Human Genome Project. I'll send you the file via Discord later today. The thing is, we need to implement an efficient algorithm for string searching - we can potentially look into the Needleman-Wunsch algorithm. This feature would pave the way for ML analysis in the future.

[2022-10-05 19:39] Verisimilitude11 opened #157 "Video In README Not Working"
Host on Azure and use <iframe> to embed.

[2022-10-05 21:32] Nv7-GitHub commented on #156
Actually it seems like the Needleman-Wunsch isn't for exact string matching, instead it can rate segments on DNA based on how close of a match they are (perhaps? the wikipedia page was kind of confusing)

[2022-10-05 22:19] Verisimilitude11 commented on #156
Huh, weird. It'll still be somewhat useful later on actually.

[2022-10-06 00:40] Verisimilitude11 opened #160 "Add All Docs to Repo Wiki"
![image](https://user-images.githubusercontent.com/96280466/194189049-fd02d65e-d430-4cef-941f-36b9153fc9f9.png)

[2022-10-06 00:42] Verisimilitude11 commented on #95
@sumitbishti how far are you on this issue?

[2022-10-06 00:43] Verisimilitude11 commented on #82
@FireNdIce3 how far are you on this issue?

[2022-10-06 00:44] Verisimilitude11 commented on #76
@Speedro how far are you on this issue?

[2022-10-06 00:44] Verisimilitude11 commented on #81
@garyglatfelter how far are you on this issue?

[2022-10-06 00:45] Verisimilitude11 commented on #160
![image](https://user-images.githubusercontent.com/96280466/194188984-442d0d74-8d59-4577-8bba-5e91b94c4238.png)

[2022-10-06 02:18] sumitbishti commented on #95
@Verisimilitude11 I'm half way through it. Since your codebase is on java do you want java specific guidelines or just general ones?

[2022-10-06 03:16] Speedro commented on #76
@Verisimilitude11 Haven't yet started, wanted to resolve #79 first. If I am blocking someone else feel free to reassign this. ☺️

[2022-10-06 03:33] Verisimilitude11 commented on #76
No worries, I was just checking in!

[2022-10-06 03:39] Nv7-GitHub commented on #156
Yeah, although its pretty complicated and would require some more research and testing probably

[2022-10-06 03:59] garyglatfelter commented on #81
Hi @Verisimilitude11, I've refactored but I'm unable to confirm it is without errors.
It could be that I am running it incorrectly, I receive errors on the main branch previous to any alterations I made.

I run
`"C:\Users\garyg\Documents\jdk-14.0.1\bin\java --enable-preview DNAnalyzer.Main --amino=histidine --min=3 --max=5 C:\Users\garyg\Documents\projects\DNAnalyzer\assets\dna\real\brca1line.fa"`

[2022-10-06 05:02] Verisimilitude11 commented on #105
I think that for unit tests, we can just use junit to verify PRs for now. I'll add more to the description soon (I need to expand by genetics knowledge as well). Feel free to implement any additional ideas that you may have for testing.

[2022-10-06 05:07] #130 closed

[2022-10-06 05:22] #95 closed

[2022-10-06 05:27] garyglatfelter commented on #81
Hmm.. so it looks like the error I'm getting is coming from printCodonCounts() in ReadingFrames.java.

I do see that AminoAcidMappings had some mapping already that complemented my approach.

I went with EnumMap instead of HashMap.(according to https://docs.oracle.com/javase/8/docs/api/java/util/EnumMap.html:
"Implementation note: All basic operations execute in constant time. They are likely (tho

[2022-10-06 05:34] Verisimilitude11 commented on #81
Hi @garyglatfelter sorry for the delay. Going with EnumMap sounds like a great idea!

I'm currently troubleshooting some issues on my system, so I won't be able to get back to you until tomorrow morning (12 hours). I'll give you some verified sample inputs for testing, but for now, ignore printCodonCounts and run it with methionine and assets/dna/random/dnalong.fa in reading frame 1. For min and m

[2022-10-06 05:34] Verisimilitude11 commented on #81
That's a really weird issue. Let me look into it and get back to you.

[2022-10-06 11:29] achiverram28 commented on #108
Please give a much more detailed documentation , to give more clear insights , also please provide the model java file which I can follow to code

[2022-10-06 11:31] achiverram28 commented on #108
![DFCA949F-398A-482C-99A7-1FEA5EF9005F_4_5005_c](https://user-images.githubusercontent.com/97288756/194301931-9bd6e344-6181-4871-b886-d8a28900ab8c.jpeg)

[2022-10-06 11:32] achiverram28 commented on #108
I know Java , I am asking for detailing because I am a beginner to open - source , so as it keep things very organised . Hoping you wont mind

[2022-10-07 03:42] krishnabiradar310802 commented on #160
@Verisimilitude11 Which docs do you want me to add to Wiki?

[2022-10-07 05:19] #117 closed

[2022-10-07 06:15] Verisimilitude11 opened #165 "Add Gradle Usage Instructions to README"
Add gradle instruction (from @Nv7-GitHub ):

Now, run the following to build it
[code]
Then, use this to run the CLI
[code]
Also, picocli is now an external dependency so the massive source isn't part of the repo

[2022-10-07 18:26] Nv7-GitHub commented on #10
I can make a PR for this

[2022-10-07 21:00] #152 closed

[2022-10-07 21:00] #153 closed

[2022-10-07 21:00] Verisimilitude11 opened #168 "(JAVA-D1001) Undocumented method found"
## Description
This method does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/)

[2022-10-07 21:00] Verisimilitude11 opened #169 "(JAVA-D1000) Undocumented class found"
## Description
This class does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/)

[2022-10-07 21:01] Verisimilitude11 opened #170 "(JAVA-W1035) Classes that contain only static members should not be instantiated"
## Description
This code seems to be creating an instance of a class with only static members. Such a class does not need to be instantiated, since all members can be accessed with just the class itself.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1035/occurrences/](http

[2022-10-07 22:39] AbbasSalloum commented on #170
Hello, could i work on this?

[2022-10-08 00:34] Verisimilitude11 commented on #170
Sure, feel free to let me know if you have any questions.

[2022-10-08 03:14] AbbasSalloum commented on #170
Hey just wondering is there a class called Main ? since i could not find it

[2022-10-08 03:24] Verisimilitude11 commented on #170
https://github.com/Verisimilitude11/DNAnalyzer/blob/main/src/main/java/DNAnalyzer/Main.java?

[2022-10-08 18:29] sb-decoder opened #173 "Adding contributers profile into README.md"
**Is your feature request related to a problem? Please describe.**
I want to  add contributers profiles into README.md.

[2022-10-08 19:22] #169 closed

[2022-10-08 19:23] #168 closed

[2022-10-09 08:06] Saket2 commented on #165
Opened a PR for this - https://github.com/Verisimilitude11/DNAnalyzer/pull/175

[2022-10-10 00:52] VerisimilitudeX opened #178 "Update Video With CLI Usage"
@shubhwip Would you like to work on this?

[2022-10-10 07:10] zackrhodes86 commented on #157
Can I be assigned this issue? I'd love to help out

[2022-10-10 07:11] Verisimilitude11 commented on #157
Sure! I assigned it you.

[2022-10-10 07:14] Verisimilitude11 commented on #157
Please start by starring this repository to show your support. Then, fork it, and open a PR with the changed you make. I think that for this issues, the video would need to be hosted elsewhere or enter it directly using markdown instead of pure HTML. Let me know if you have any questions!

[2022-10-10 15:59] Verisimilitude11 commented on #173
Could you please elaborate further on this?

[2022-10-10 16:00] #165 closed

[2022-10-10 16:00] #170 closed

[2022-10-10 16:01] #10 closed

[2022-10-10 17:04] Verisimilitude11 commented on #173
Sure, feel free to open a pull request for this.

[2022-10-10 17:05] Verisimilitude11 commented on #103
@akshatjainei are you interested in doing this?

[2022-10-10 21:27] Verisimilitude11 opened #181 "Refactor CodonFrame.equals(Object)"
I've selected [**CodonFrame.equals(Object)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/CodonFrame.java#L61-L70) for refactoring, which is a unit of **9** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple

[2022-10-10 21:27] VerisimilitudeX opened #182 "Refactor Properties.isRandomDNA(String)"
I've selected [**Properties.isRandomDNA(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/Properties.java#L145-L160) for refactoring, which is a unit of **12** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Writ

[2022-10-10 21:27] Verisimilitude11 opened #183 "Refactor ProteinFinder.getProtein(String,String)"
I've selected [**ProteinFinder.getProtein(String,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/ProteinFinder.java#L50-L84) for refactoring, which is a unit of **21** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com

[2022-10-10 21:27] Verisimilitude11 opened #184 "Refactor CmdArgs.run()"
I've selected [**CmdArgs.run()**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/CmdArgs.java#L79-L143) for refactoring, which is a unit of **46** lines of code and **6** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Simple Units of Cod

[2022-10-10 21:27] Verisimilitude11 opened #185 "Refactor Properties.printProteinList(List<String>,String)"
I've selected [**Properties.printProteinList(List<String>,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/Properties.java#L37-L72) for refactoring, which is a unit of **32** lines of code and **20** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercode

[2022-10-10 21:27] Verisimilitude11 opened #186 "Refactor AminoAcidMapping.getAminoAcidMapping(String)"
I've selected [**AminoAcidMapping.getAminoAcidMapping(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/AminoAcidMapping.java#L26-L91) for refactoring, which is a unit of **65** lines of code and **20** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://betterco

[2022-10-10 21:27] Verisimilitude11 opened #187 "Refactor ProteinFinder.getProtein(String,String)"
I've selected [**ProteinFinder.getProtein(String,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/ProteinFinder.java#L50-L84) for refactoring, which is a unit of **21** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units

[2022-10-10 21:27] Verisimilitude11 opened #188 "Refactor Properties.printProteinList(List<String>,String)"
I've selected [**Properties.printProteinList(List<String>,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/Properties.java#L37-L72) for refactoring, which is a unit of **32** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short

[2022-10-10 21:27] Verisimilitude11 opened #189 "Refactor CmdArgs.run()"
I've selected [**CmdArgs.run()**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/CmdArgs.java#L79-L143) for refactoring, which is a unit of **46** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code** guideline rating! 👍

[2022-10-10 21:27] Verisimilitude11 opened #190 "Refactor CodonDataConstants.$block1"
I've selected [**CodonDataConstants.$block1**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/CodonDataConstants.java#L62-L112) for refactoring, which is a unit of **47** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code

[2022-10-10 21:27] Verisimilitude11 opened #191 "Refactor AminoAcidMapping.getAminoAcidMapping(String)"
I've selected [**AminoAcidMapping.getAminoAcidMapping(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/43151e8f70d86b468dc676c3f5e3f1bc7a4bdca3/src/main/java/DNAnalyzer/AminoAcidMapping.java#L26-L91) for refactoring, which is a unit of **65** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Shor

[2022-10-10 21:35] Speedro commented on #188
Hey @Verisimilitude11 Is this still an issue?

[2022-10-10 21:41] Verisimilitude11 commented on #188
Yep, it is! Should I assign it to you?

[2022-10-11 06:13] Speedro commented on #188
I mean there is the same issue #76, isn't it?

[2022-10-11 06:28] Verisimilitude11 commented on #188
Hmm...good point. I'll still leave it here and we'll close it once you submit the pull request for #76. Thanks for noticing this!

[2022-10-11 14:26] Kit-p commented on #190
@Verisimilitude11 Mind me submit a PR? Looks like a quick refactoring to me.

[2022-10-11 20:56] haseeb-xd commented on #191
I want to work on this issue, but I am still a new contributor. Can you guide me a bit more how can I refactor that?

[2022-10-11 21:00] Verisimilitude11 commented on #191
Refactor the method into 2 or 3 methods in order to reduce the number of lines.

[2022-10-12 00:54] VerisimilitudeX opened #195 "Simplify README to make it easier to understand"
Borrow elements from https://github.com/files-community/Files/blob/main/README.md

[2022-10-12 08:46] Speedro commented on #186
Hi @Verisimilitude11 let me pls. have a look at this. Thx! 🙂

[2022-10-12 15:34] Verisimilitude11 commented on #186
Sure! Assigned it to you.

[2022-10-12 19:14] #76 closed

[2022-10-12 20:12] singloon commented on #189
@Verisimilitude11 please can you assign the task to me and review the PR

[2022-10-12 20:14] Verisimilitude11 commented on #189
Assigned.

[2022-10-13 14:49] sanjeev0210 commented on #185
I've forked the repository and found out that this has been refactored already. I think this issue can be closed @Verisimilitude11

[2022-10-13 16:34] Verisimilitude11 commented on #182
Yes, do you want me to assign it to you?

[2022-10-13 16:35] Verisimilitude11 commented on #185
Sounds good @sanjeev0210

[2022-10-13 16:35] #185 closed

[2022-10-13 17:49] sanjeev0210 commented on #182
Sure I will look into it

[2022-10-14 15:54] sanjeev0210 commented on #182
I have observed that there is an exactly same issue with a PR that is rejected [here](https://github.com/Verisimilitude11/DNAnalyzer/pull/97/files/43187353ac4e57867256143fd855644854728bea) why is that so?

[2022-10-15 01:40] garyglatfelter commented on #81
It looks like the printProteinList has been refactored already so somebody must have figure it out.

[2022-10-15 05:12] Verisimilitude11 commented on #81
Sounds good. Thanks for noticing this!

[2022-10-15 05:12] #81 closed

[2022-10-15 11:12] JainSamyak8840 commented on #195
I wanted to work on this.

[2022-10-15 11:40] frankschmitt commented on #121
@RamAIbot Are you working on this? If yes, I'll un-assign myself from this issue.

[2022-10-15 14:52] garyglatfelter commented on #183
I think I can do this but I'm but I'm admittedly weak in understanding some of the core knowledge.
Let me check my understanding with you to ensure I understand correctly.

"ATG" is a start codon for methionine.
The Stop codon has three possible options: "TAA", "TAG", "TGA".

If there is a sequence like so:

Option A) should it return the string between the start codon and the first occurrence of

[2022-10-16 06:32] Verisimilitude11 commented on #195
Sure, I assigned it to you.

[2022-10-16 20:56] Verisimilitude11 commented on #183
Nice! To clarify, only the first occurrence of a string should be returned. Note that a protein has to also have a length that is divisible by 3. Let me know if you have any other questions!

[2022-10-17 00:39] VerisimilitudeX opened #204 "Detect Circular DNA"

[2022-10-17 00:39] Verisimilitude11 opened #205 "Add information about DNA and link to README"
https://www.ancestry.com/c/dna-learning-hub/dna-strands

[2022-10-17 00:40] Verisimilitude11 opened #206 "Add Additional Tests Via JUnit"

[2022-10-17 00:42] #190 closed

[2022-10-17 00:51] Verisimilitude11 opened #208 "Organize Code Intro Multiple Folders"
One folder for amino acids, another for codons, another for proteins, etc.

[2022-10-17 01:06] #184 closed

[2022-10-17 01:44] plopez26DPU commented on #208
Can you assign me this issue please

[2022-10-17 01:46] plopez26DPU commented on #160
Can you assign me this issue please

[2022-10-17 01:55] plopez26DPU commented on #206
Any specific tests you want completed at this time ?

[2022-10-17 01:58] plopez26DPU commented on #206
From the source code,  I assume you want only main tested ?

[2022-10-17 02:56] Verisimilitude11 commented on #208
Sure. Let me know if you have any questions.

[2022-10-17 02:57] Verisimilitude11 commented on #206
All of the files under the main folder, yes.

[2022-10-17 02:58] plopez26DPU commented on #206
Ok, I will give it a shot

[2022-10-17 04:05] sourabhkashyap95 commented on #181
@Verisimilitude11 Can you please assign this to my name.

[2022-10-17 04:22] Verisimilitude11 commented on #181
Yes.

[2022-10-17 04:29] sourabhkashyap95 commented on #181
Can you please review this PR.
https://github.com/Verisimilitude11/DNAnalyzer/pull/213

[2022-10-17 04:37] Verisimilitude11 commented on #181
Will look at it tomorrow morning. Thanks for submitting it! Make sure that you star the repository to show your support for our mission here at DNAnalyzer.

[2022-10-17 05:47] sayan3270 commented on #205
i want to work on this issue. i just need to add article on readme ?

[2022-10-17 05:56] Verisimilitude11 commented on #205
No, you need to paraphrase the content from the article attached into a new .md file under the docs folder. Then, link that .md file to the README for those who are interested in learning more about the science of DNA analyzing. Let me know if you have any other questions!

[2022-10-17 14:43] Ni-vik commented on #178
Is this isuue still open? And if it is can you share more information about it?

[2022-10-17 18:51] Ni-vik commented on #178
Okay. Please assign me this issue so that I can start working on it..

[2022-10-17 19:23] Verisimilitude11 commented on #178
Done.

[2022-10-17 23:57] garyglatfelter commented on #183
Oh I think there's already a PR for this issue. Is this a duplicate of issue #187 ?

[2022-10-18 00:37] Verisimilitude11 commented on #183
Huh, good catch. Do you want to work on this issue instead: https://github.com/Verisimilitude11/DNAnalyzer/issues/103 since you understand DNA science? Thanks for your interest in contributing!

[2022-10-18 00:37] #183 closed

[2022-10-18 00:38] Verisimilitude11 commented on #17
@charlygg any updates?

[2022-10-18 00:38] Verisimilitude11 commented on #19
@basil08 any updates?

[2022-10-18 00:40] #79 closed

[2022-10-18 00:41] Verisimilitude11 commented on #82
@FireNdIce3 any updates?

[2022-10-18 00:43] Verisimilitude11 commented on #104
@frankschmitt any updates?

[2022-10-18 00:44] Verisimilitude11 commented on #108
@achiverram28 any updates?

[2022-10-18 00:44] #154 closed

[2022-10-18 00:52] garyglatfelter commented on #103
Wouldn't this just be the length of the input string?

Or is the desired function to provide a count of each type of pair? like so:
example input: 'GATTACA'

GC = 1
AT = 3
TA = 2
CG = 1

[2022-10-18 00:52] plopez26DPU commented on #160
@Verisimilitude11

Is this what you were wanting? Or did you want the docs to be scrollable through the whole wiki?

<img width="1383" alt="image" src="https://user-images.githubusercontent.com/90722929/196310114-5fd60096-0f3b-4abc-8b3d-6c13db14f066.png">

[2022-10-18 01:02] plopez26DPU commented on #160
Check the changes I made from the above screenshot, https://github.com/plopez26DPU/DNAnalyzer/wiki#documents

Let me know which style you would want for final product

[2022-10-18 02:09] #208 closed

[2022-10-18 02:09] Verisimilitude11 commented on #103
Correct, it would output the count of each type of pair:
GC = 1
AT = 3
TA = 2
CG = 1

[2022-10-18 02:11] Verisimilitude11 commented on #160
The current style looks great! Could you please put it into the main repository? /Verisimilitude11/DNAnalyzer? Thanks so much for working on this!

[2022-10-18 02:13] garyglatfelter commented on #103
understood. yeah that should be pretty easy, I can do that

[2022-10-18 02:13] plopez26DPU commented on #160
Yep! I will finish it tomorrow,  no problem 😊

[2022-10-18 02:13] Verisimilitude11 commented on #103
Cool, I assigned it to you. Thanks for working on this!

[2022-10-18 02:14] Verisimilitude11 commented on #160
All good, thanks again!

[2022-10-18 02:29] plopez26DPU commented on #18
This seems interesting 🤔

[2022-10-18 02:34] Verisimilitude11 commented on #18
Yep, let me know if you want to work on it!

[2022-10-18 02:36] plopez26DPU commented on #18
Do you have more information you can send me ? I'm not too sure about fasta files or their use. Would be willing to try to work on it , might take me some time though.

[2022-10-18 02:38] Verisimilitude11 opened #215 "Store .fa DNA files in Smaller File Size"
Use a more efficient file format as the DNA FASTA files right now are very big and take a lot of time to download while cloning the DNAnalyzer repository.

[2022-10-18 02:43] Verisimilitude11 commented on #18
I think that you would need to save it, similar to creating a .txt file, just with a .fa file extension. FASTA files are most commonly used for DNA sequences as they allow for custom headers for analysis. Thinking on par with a .txt file, you would need to first make a header for each piece of data that is outputted by the current program and then put the actual data under those headers. The heade

[2022-10-18 19:38] frankschmitt commented on #104
I thought this had already been resolved? You wrote:

Regarding the GUI version:  I've asked user RamAlbot in https://github.com/Verisimilitude11/DNAnalyzer/issues/121 whether they're already working on this (to avoid duplicate work). But since I didn't get any response so far (it's been three days), I'll take a look.

[2022-10-18 19:57] Verisimilitude11 commented on #121
@frankschmitt thanks for looking into this. I unassigned @RamAIbot.

[2022-10-18 19:58] Verisimilitude11 commented on #104
I apologize, I forgot that this feature was already implemented in the CLI. Sounds good, I assigned the issue to you. Thanks for working on this!

[2022-10-18 22:07] plopez26DPU commented on #160
I am not able to do a pull request for this, but I have updated the main wiki

https://github.com/Verisimilitude11/DNAnalyzer/wiki

[2022-10-18 22:59] Verisimilitude11 commented on #160
Looks great! Thanks for working on this.

[2022-10-19 01:49] plopez26DPU commented on #205
Any update on this? Willing to take over if needed

[2022-10-19 01:49] plopez26DPU commented on #195
Any update on this? Willing to take over if needed

[2022-10-19 01:49] Verisimilitude11 commented on #205
@sayan3270 are you still working on this?

[2022-10-19 01:50] plopez26DPU commented on #204
Could you explain more of this please

[2022-10-19 01:57] plopez26DPU commented on #160
No problem! Make sure to close the issue :)

[2022-10-19 01:57] #160 closed

[2022-10-19 02:51] garyglatfelter commented on #103
A couple of follow-up questions:

Can I/Should I assume all text will be in ASCII ? Do you have any performance expectations?

What is the largest input fie/string expected? (I ask because it is probably easiest to load the whole file to memory and then process. however, I imagine the files can get very large so memory size may be a concern)

[2022-10-19 04:47] Verisimilitude11 opened #218 "Update Docs to Reflect Current CLI Usage"
Change screenshots and instructions to use CLI args in the following markdown file: https://github.com/Verisimilitude11/DNAnalyzer/blob/936181dd714855276ea34f55b94e5b53afc8ef0e/docs/samples/serine-dnalong.md

[2022-10-19 14:00] HridoyHazard commented on #205
i would like to work on this issue

[2022-10-19 15:02] Verisimilitude11 commented on #205
@HridoyHazard it seems like someone else is working on this issue already. Could you please work on another issue? Thanks for your interest in contributing to the world of open source!

[2022-10-19 21:32] Verisimilitude11 opened #220 "Deploy ./web/* to GitHub Pages Not Working"
These files should all be uploaded to GitHub Pages: https://github.com/Verisimilitude11/DNAnalyzer/tree/main/web
This is the process for deploying static sites: https://github.com/Verisimilitude11/DNAnalyzer/blob/main/.github/workflows/static.yml
For some reason, this page is not working: https://verisimilitude11.github.io/DNAnalyzer/
The workflow does not appear to be functional.

[2022-10-20 00:42] #189 closed

[2022-10-20 00:45] #73 closed

[2022-10-20 00:51] Verisimilitude11 opened #222 "Refactor Properties.formatNucleotideCount(String,int,String)"
I've selected [**Properties.formatNucleotideCount(String,int,String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/06a0900fa4c196549fea4dc6c5f226efe9741f17/src/main/java/DNAnalyzer/Properties.java#L84-L88) for refactoring, which is a unit of **4** lines of code and **3** parameters. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehu

[2022-10-20 00:51] Verisimilitude11 opened #223 "Refactor DnaAnalyzer.outPutCodons(int,int)"
I've selected [**DnaAnalyzer.outPutCodons(int,int)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/06a0900fa4c196549fea4dc6c5f226efe9741f17/src/main/java/DNAnalyzer/DnaAnalyzer.java#L48-L68) for refactoring, which is a unit of **19** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Code*

[2022-10-20 00:51] Verisimilitude11 opened #224 "Refactor CodonDataConstants.$block1"
I've selected [**CodonDataConstants.$block1**](https://github.com/Verisimilitude11/DNAnalyzer/blob/06a0900fa4c196549fea4dc6c5f226efe9741f17/src/main/java/DNAnalyzer/codon/CodonDataConstants.java#L65-L115) for refactoring, which is a unit of **47** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units o

[2022-10-20 00:53] Verisimilitude11 commented on #157
Thanks for working on this, @zackrhodes86! I would really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 00:53] #157 closed

[2022-10-20 00:54] Verisimilitude11 commented on #173
Thanks for working on this, @sb-decoder! I would really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 00:56] #188 closed

[2022-10-20 00:56] Verisimilitude11 commented on #191
@haseeb-xd how far are you on this issue? I would also really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 00:57] Verisimilitude11 commented on #186
@Speedro how far are you with this issue?

[2022-10-20 00:57] Verisimilitude11 commented on #156
@Nv7-GitHub you already implemented this feature right?

[2022-10-20 01:02] Verisimilitude11 commented on #187
@boaglio, your current PR fixes this issue, correct?

[2022-10-20 01:07] Verisimilitude11 commented on #178
Thanks for working on this, @zackrhodes86! I would really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 01:07] Verisimilitude11 commented on #195
@JainSamyak8840 I would really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 01:07] Verisimilitude11 commented on #205
@HridoyHazard and @sayan3270 I would really appreciate it if you would star this repository if you haven't done so yet!

[2022-10-20 11:31] plopez26DPU commented on #218
Assign me this :)

[2022-10-20 16:08] Nv7-GitHub commented on #156
Yeah, I implemented a simple search, although not the Needleman-Wusch algorithm

[2022-10-20 16:32] Verisimilitude11 commented on #156
Okay cool, thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nv7 ***@***.***>
Sent: Thursday, October 20, 2022 9:08:25 AM
To: Verisimilitude11/DNAnalyzer ***@***.***>
Cc: Piyush Acharya ***@***.***>; Comment ***@***.***>
Subject: Re: [Verisimilitude11/DNAnalyzer] Protein finding (Issue #156)

Yeah, I implemented a simple search, although not the Needleman-W

[2022-10-20 16:35] LoicB commented on #224
Hello,
Could I try this one, please?

[2022-10-20 17:33] Verisimilitude11 commented on #224
Sure, I assigned it to you.

[2022-10-20 18:07] HridoyHazard commented on #205
ok that's fine assign this to me. i can do it

[2022-10-20 19:32] Verisimilitude11 commented on #205
No problem @sayan3270. I understand. I would really appreciate it if you would contribute to DNAnalyzer sometime in the future! Thanks again for your interest in the contributing to the world of open source projects.

[2022-10-20 19:32] Verisimilitude11 commented on #205
@HridoyHazard I assigned the issue to you.

[2022-10-20 21:27] zaino97 commented on #222
Hi @Verisimilitude11,

Can you assign this to me?

Thanks.

[2022-10-21 06:27] LimesKey opened #228 "DIAMOND Implementation, a BLAST fork."
[DIAMOND ](https://github.com/bbuchfink/diamond)is an alignment tool for protein and translated DNA searches with high-performance analysis of extensive sequence data. It has some cool features which make it good for running on slow computers and can do a variety of alignments. It says it has various output formats such as tabular, XML and taxonomic classification.

I haven't taken too deep of a l

[2022-10-21 06:28] #220 closed

[2022-10-21 06:48] LimesKey opened #229 "Randomness Rating Percentage Tolerance Configuration"
This would be a feature in the config file to set how much tolerance you would have for the program to detect a string of DNA as random. In some instances, the machine learning algorithm can only predict new information based on past experiences, but if the DNA it was given was completely random it could give a completely false report of the DNA.

Some people will give the program DNA that may see

[2022-10-21 08:02] LimesKey opened #230 "Using Genotype Data for Machine Learning Training & Analysis"
I understand that DNAnalyzer is looking to gather more data to train machine-learning algorithms and learn from the data provided. I took a 23andMe Genotyping DNA Test the other day which provided an in-depth view of my DNA which explains my phenotype of myself. I was pretty fascinated by my results and wondered if I could download this information locally, thankfully 23andMe provides the option t

[2022-10-21 08:42] LimesKey commented on #228
So what I'm proposing for this project is creating a database with common DNA Gene strings known to cause medical illnesses and conditions, sprinkle some machine learning combined with randomness percentage to account for genetic drift and evolution over time.

To increase accuracy with the reference database DNA is to have lots of metadata with that gene string, such as the average age of the per

[2022-10-21 11:35] LimesKey commented on #228
After some more testing on the program, one of the negatives of the program is that it's incredibly resource-intensive. With a high-performance computer with an 8-core CPU and 16GB of Physical RAM and over 150GB of Virtual Memory on an NVMe SSD, it used up 140GB of combined Physical + Virtual RAM + 80% Core Utilization.

This was only for creating a database for a 3.2GB Sequenced DNA file (uncompr

[2022-10-21 15:55] Verisimilitude11 opened #231 "DNA Database of Disease-Causing genes"
From @LimesKey:

Create a database with common DNA Gene strings known to cause medical illnesses and conditions, sprinkle some machine learning combined with randomness percentage to account for genetic drift and evolution over time.

To increase accuracy with the reference database DNA is to have lots of metadata with that gene string, such as the average age of the person with that mutated gene

[2022-10-21 15:56] VerisimilitudeX opened #232 "Improve Performance: Currently Highly Resource-Intensive"
From @LimesKey;

After some more testing on the program, one of the negatives of the program is that it's incredibly resource-intensive. With a high-performance computer with an 8-core CPU and 16GB of Physical RAM and over 150GB of Virtual Memory on an NVMe SSD, it used up 140GB of combined Physical + Virtual RAM + 80% Core Utilization.

This was only for creating a database for a 3.2GB Sequenced

[2022-10-21 15:59] Verisimilitude11 commented on #228
@LimesKey, I added both of the above features as an issue with https://github.com/Verisimilitude11/DNAnalyzer/issues/231 and https://github.com/Verisimilitude11/DNAnalyzer/issues/232.

[2022-10-21 16:06] LimesKey commented on #232
There are certainly many ways you can make the DIAMOND program a lot less resource-intensive, setting memory limit to only 10% of available ram and by storing memory that would otherwise be taken up by physical ram, into a virtual memory file similar to how page files work but not in the page file. I haven't found the program to be too CPU intensive, 60% of my 8 logical cores, but I know there's b

[2022-10-21 16:09] LimesKey commented on #228
@Verisimilitude11, sounds good, I first wanted to see everyone's ideas and thoughts on it first before I did more research on the performance part.

[2022-10-21 19:03] MartinGallauner commented on #215
I would like to look into this, please assign to me :)

[2022-10-21 19:13] Verisimilitude11 commented on #215
Sure!

[2022-10-22 04:21] plopez26DPU commented on #218
Hey @Verisimilitude11 , can you show an example of how to use the CLI find please. I can't seem to get it to work for me

[2022-10-22 06:45] Verisimilitude11 opened #236 "Test Issue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-22 06:45] #236 closed

[2022-10-22 09:09] Speedro commented on #186
I am about to commit a PR tomorrow

[2022-10-22 13:29] LimesKey commented on #178
@Ni-vik, have you started this yet? If not I created a video that might be helpful, it still needs some editing and it might have a small amount of my personal info in the video; but it shows a walk-through of how to set the program up and download JDK and build Gradle.

Let me know what you think, just don't post it anywhere yet. If you are going to edit some things in the video, I suggest using

[2022-10-22 13:56] LimesKey commented on #215
For some more information, I use [7-Zip](https://www.7-zip.org/) as my compression & zip file manager because it's open source, it can compress a 100MB. FA file into 26.5MB using the default LZMA compression method set to "Ultra Compression". Text files can usually be very easily compressed, especially .fasta files.

[2022-10-22 14:41] MartinGallauner opened #237 "JUnit Test skeleton doesn't work"
Gradle can't find any tests to execute.
[code]

**To Reproduce**
Run tests inside class MainTest with Gradle (using IntelliJ)

**Expected behavior**
The one initially created test is executed correctly

[2022-10-22 17:30] Ni-vik commented on #178
@LimesKey great work. @Verisimilitude11 I was not able to work on it. You can assign this one to @LimesKey

[2022-10-22 18:47] Verisimilitude11 commented on #186
Sounds great! Are you interested in joining our Discord server? I remember that you asked me a couple weeks ago.

[2022-10-22 18:50] Verisimilitude11 commented on #215
Thanks for this @LimesKey. @MartinGallauner could you please compress all of the DNA files that we have under ./assets/dna/* using 7-Zip or a similar tool? Thanks for working on this!

[2022-10-22 19:02] Verisimilitude11 commented on #178
Sounds good @Ni-vik. Make sure to star this repository and work on another issue!

[2022-10-22 19:19] MartinGallauner commented on #215
Understood. Will do that no later that tomorrow!

[2022-10-22 19:24] Verisimilitude11 commented on #178
@LimesKey thanks for the video! I sent a message in the server regarding this.

[2022-10-22 19:25] Verisimilitude11 commented on #215
No worries, thank you so much for contributing!

[2022-10-22 19:52] Verisimilitude11 commented on #237
@MartinGallauner what do you see when you run the following commands:
`.\gradlew build`
and
`java -jar build/libs/DNAnalyzer.jar assets/dna/random/dnalong.fa --amino=ser --min=10 --max=100`

[2022-10-22 19:57] Verisimilitude11 opened #239 "(JAVA-D1003) Undocumented declaration found"
## Description
This declaration is not documented. Consider adding a documentation comment to explain its functionality.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/)

[2022-10-22 20:03] plopez26DPU commented on #82
I'll work on this too. Might take me some extra time

[2022-10-22 20:04] Verisimilitude11 commented on #82
Sounds good, no problem.

[2022-10-22 20:26] frankschmitt commented on #121
@Verisimilitude11 What's the minimum JDK version we need to support? (I'm asking because the newest SceneBuilder version only supports JDK 11 and higher)

[2022-10-22 20:28] Verisimilitude11 commented on #121
@frankschmitt we're only supporting JDK 17+ so feel free to use SceneBuilder.

[2022-10-22 20:31] LimesKey commented on #231
This is a very large topic and feature, later today i'm going to split this feature into multiple smaller, easier to understand issues. I feel like most of the people on Github that are coders don't have a very good biology background. @Verisimilitude11

[2022-10-22 21:45] Verisimilitude11 commented on #231
Sounds good @LimesKey, I agree with that.

[2022-10-23 04:33] garyglatfelter commented on #103
I think I answered some of my previous questions. You had only asked to handle String, and for some reason, I was thinking I'd also be making the function to input files.

Anyway, I've added two options for counting base pairs. One is a straightforward traversal of char array. The second function I attempted parallel streams. I have an older computer so perhaps I'm not getting the full performance

[2022-10-23 04:42] Verisimilitude11 commented on #103
Hey @garyglatfelter, sorry I seem to have somehow missed your previous message. Yes, all the text is in ASCII and the largest input string would be a 4 GB txt file. Sure, I have a 12th gen intel i9 CPU so I can test the parallel stream. I'm really interested in seeing how you implemented it - I'm sure it'll be very useful. Could you please submit a PR so that I can view/test the code? Thanks for c

[2022-10-23 05:35] garyglatfelter commented on #103
Np.
For just counting occurrences like this, it's actually pretty easy. But because it's easy, there may not be enough a performance gain to offset the additional overhead the jvm has to manage for the extra threads. When calculations become more complex, the gains are more favorable. Which might be why the plain old character array is winning out here.

I would like to learn more about parallel s

[2022-10-23 21:02] plopez26DPU commented on #223
Close this issue please

[2022-10-23 22:00] #223 closed

[2022-10-23 22:47] plopez26DPU opened #245 "CLI Not Reporting Version Correctly"
**Describe the bug**
When using the CLI argument for displaying version, only displays a new line with no version information being displayed.

**To Reproduce**
Steps to reproduce the behavior:

type `java -jar build/libs/DNAnalyzer.jar -V` into terminal

**Expected behavior**
The up-to-date version of DNAnalyzer should be displayed.

**Screenshots**

<img width="873" alt="image" src="https://user

[2022-10-23 22:47] plopez26DPU commented on #245
Assign me this too

[2022-10-24 00:04] Verisimilitude11 commented on #245
Sounds good @plopez26DPU.

[2022-10-24 00:09] Verisimilitude11 commented on #103
Sure. Here are a couple of places in which you could look into implementing parallel streams/multithreading:
- protein/ProteinFinder.java/getProtein and /addProtein
- ReadingFrames.java
- DNAAnalysis.java/protein sequence

Thanks again for your interest in working on this. This will be useful to us, and I'm excited to see what you will implement.

[2022-10-24 00:12] Verisimilitude11 commented on #231
@LimesKey, once https://github.com/Verisimilitude11/DNAnalyzer/issues/205 gets resolved, I feel like the knowledge-gap issue will get slightly resolved. However, splitting this feature into bite-sized issues would also be helpful, so feel free to proceed. I'm going to convert this issue into a discussion thread. Thanks again!

[2022-10-24 05:03] CoderAayush2104 opened #248 "New Animated DNAnalyzer Logo"
Please assign this to me.I will do it for you.

[2022-10-24 05:08] Verisimilitude11 commented on #248
Sure. Could you have an animation with two helixes (the things piece that makes up the `A` in the current DNAnalyzer logo
<img width="32" alt="image" src="https://user-images.githubusercontent.com/96280466/197452369-0fb01d6c-d77d-4b3c-9f0a-a8de5562a564.png">
) on either side of a `D`? The frames would look something like this:
1. {}
2. { }
3. {D}

Let me know if you have any further questions.

[2022-10-24 05:41] CoderAayush2104 commented on #248
I will try my best to bring the changes.

[2022-10-24 05:43] Verisimilitude11 commented on #248
Sounds good. I'll approve/give feedback to your PR within 24 hours of your submission. Thanks for working on this! If you haven't already, could you please star this repository? I would really appreciate it.

[2022-10-24 07:40] LimesKey opened #249 "setup.bat setup program for Windows"
To make the process of running the program as easy as possible, a batch script could be implemented for Windows users as a way to do 3 things in 1 click,

- Uncompress DNA Files
- Build Gradle
- CD into the executable program's directory, It would open up a terminal window with the current directory of the program, allowing users to skip the CD step.

It would implement the functionality of the fo

[2022-10-24 16:14] Verisimilitude11 commented on #206
@plopez26DPU do you need any help with implementing this?

[2022-10-24 16:15] Verisimilitude11 commented on #182
I don't think that I rejected that PR, for me it shows that it is merged. How far are you on this issue?

[2022-10-24 16:15] Verisimilitude11 commented on #181
@sourabhkashyap95 your PR fixed this issue, correct?

[2022-10-24 16:16] Verisimilitude11 commented on #17
@charlygg do you need any help on this?

[2022-10-24 16:31] Verisimilitude11 commented on #19
@prasoonmhwr are you still interested in working on this issue?

[2022-10-24 16:32] Verisimilitude11 commented on #19
Could you also please star this repository to show you support for our mission @prasoonmhwr @basil08? Thanks!

[2022-10-24 16:37] VerisimilitudeX opened #252 "Publish Gradle Package"
This software is already packaged using Gradle, this issue would publish it to GitHub Packages for easier download by users: https://github.com/Verisimilitude11/DNAnalyzer/packages

[2022-10-24 17:23] plopez26DPU commented on #206
I was attempting this and I think I need more experience with it,  if you have someone else that can do it and I can see what they do, that would be awesome . 👌

[2022-10-24 18:27] Verisimilitude11 commented on #206
Alright, no worries. I’ll assign it to someone else. Feel free to continue working on some of the other issues that are open (e.g., some documentation stuff, etc.). Thanks again for being a long-time contributor to DNAnalyzer

[2022-10-25 00:17] plopez26DPU commented on #245
@Verisimilitude11 , do you have a file that holds the version changes right now or no?

[2022-10-25 02:43] chxtio commented on #60
@Verisimilitude11 Hi, is this issue available to work on? If it is, I'm interested in being assigned

[2022-10-25 03:13] Verisimilitude11 commented on #60
Yes, it is @chxtio. I assigned it to you. By the way would you be interested in joining our Discord server? The link is here: https://github.com/Verisimilitude11/DNAnalyzer/discussions/256

[2022-10-25 03:44] sourabhkashyap95 commented on #181
@Verisimilitude11 yes.

[2022-10-25 03:46] Verisimilitude11 commented on #181
Great. By the way would you be interested in joining our Discord server? The link is here: https://github.com/Verisimilitude11/DNAnalyzer/discussions/256

[2022-10-25 04:13] sourabhkashyap95 commented on #181
Sure @Verisimilitude11

[2022-10-25 04:14] Verisimilitude11 commented on #245
Not yet...

[2022-10-25 04:14] Verisimilitude11 commented on #245
Could you please open another issue for that? Thanks!

[2022-10-25 23:43] plopez26DPU opened #258 "Design `Current Version` Documentation"
**Is your feature request related to a problem? Please describe.**
We need a documentation file to display current version of the application. This will also be used with the CLI argument for version identification.

**Describe the solution you'd like**
Either some form of version control [like this](https://rebelsguidetopm.com/how-to-do-document-version-control/) or a basic file with the current

[2022-10-26 03:11] garyglatfelter opened #261 "Improve buildCodonMap"
Sure @garyglatfelter. Here are a couple of places in which you could look into implementing parallel streams/multithreading:
- protein/ProteinFinder.java/getProtein and /addProtein
- ReadingFrames.java
- DNAAnalysis.java/protein sequence

Thanks again for your interest in working on this. This will be useful to us, and I'm excited to see what you will implement.

_Originally posted by @Verisimilit

[2022-10-26 03:14] garyglatfelter commented on #261
I will try with buildCodonMap. That should be straightforward.

[2022-10-26 03:33] Verisimilitude11 commented on #261
Alright cool, I assigned it to you.

[2022-10-26 07:26] jenistenxavier opened #262 "Automatic update to Dependencies using Dependabot."
Is your feature request related to a problem? Please describe.
Using outdated dependencies raises security concerns and updating them is an essential step. And this step can be automated.

Describe the solution you'd like
Automatic updates to dependencies can no longer need to be a manual task. Dependabot can be used to identify the dependencies that have update and can raise a PR.

Additional con

[2022-10-26 15:05] Verisimilitude11 opened #265 "(JS-0242) Use `const` declarations for variables that are never reassigned"
## Description
Variables that are not re-assigned are referred to as constant variables. So, we recommend using `const` for such variables instead of `let` to define because the value of a variable declared with const remains the same within its scope. It cannot be updated or re-declared and also reduces cognitive load …

## Occurrences
There are 2 occurrences of this issue in the repository.

See

[2022-10-26 15:50] LimesKey opened #268 "[CodeQL] Auto-build Spawn Process exited abnormally"
[code]
https://github.com/Verisimilitude11/DNAnalyzer/actions/runs/3330294697/jobs/5509090775

[2022-10-26 15:57] LimesKey commented on #108
I believe this is what #228 is trying to solve, can I close this? The DIAMOND sequence aligner tool is likely a lot better and more efficient than 1 person could code.

[2022-10-26 16:13] Verisimilitude11 commented on #108
Good point, let's close this then. I'm going to ask a couple people today on how the DIAMOND sequence aligner tool could be implemented.

[2022-10-26 16:13] #108 closed

[2022-10-26 21:22] TheParmak opened #269 "Change Web Page Design"
The current website (https://www.dnanalyzer.live/) could use a lot of improvement, perhaps some more interactive elements, along with a section on how to support the repo. Too much whitespace too. I would recommend switching to a JS library, preferably React.js or SvelteKit.

[2022-10-26 22:19] LimesKey commented on #269
The website could use some improvement, perhaps some more interactive elements along with a section on how to support the repo. Too much whitespace too.

[2022-10-27 03:40] #265 closed

[2022-10-27 04:54] Verisimilitude11 opened #270 "Add call to highCoverageRegions() to CmdArgs"
Call this method:
https://github.com/Verisimilitude11/DNAnalyzer/blob/7b6a0d5bd0950c95765da5dcaa9ce3ab3dc5b3b8/src/main/java/DNAnalyzer/protein/ProteinAnalysis.java#L26-L52

In:
CmdArgs after printing the nucleotide percentages.

[2022-10-27 04:57] #103 closed

[2022-10-27 05:51] #186 closed

[2022-10-27 05:55] #104 closed

[2022-10-27 05:59] Verisimilitude11 commented on #204
We can perhaps implement a Java version of https://github.com/iprada/Circle-Map. However, we'd still have to conduct some research on how circular DNA works. @LimesKey, perhaps you can help with this if you get some time.

[2022-10-27 06:01] Verisimilitude11 commented on #191
@haseeb-xd I unassigned the issue from you due to a lack of response for more than two weeks. I hope you understand.

[2022-10-27 06:02] Verisimilitude11 commented on #173
@sb-decoder would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:02] Verisimilitude11 commented on #191
@haseeb-xd would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:02] Verisimilitude11 commented on #173
@sb-decoder would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:03] Verisimilitude11 commented on #195
@sb-decoder would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:03] Verisimilitude11 commented on #195
@plopez26DPU I assigned the issue to you.

[2022-10-27 06:03] #187 closed

[2022-10-27 06:04] Verisimilitude11 commented on #187
@boaglio would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:04] #156 closed

[2022-10-27 06:04] Verisimilitude11 commented on #224
@LoicB would you like to join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:04] #224 closed

[2022-10-27 06:05] Verisimilitude11 commented on #205
@HridoyHazard and @sayan3270 please join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:05] Verisimilitude11 commented on #205
@HridoyHazard how far are you with this issue?

[2022-10-27 06:06] Verisimilitude11 commented on #222
@zaino97 how far are you on this issue?

[2022-10-27 06:08] #218 closed

[2022-10-27 06:08] Verisimilitude11 commented on #178
@Ni-vik please join our Discord server: https://discord.gg/5ShCNmyp

[2022-10-27 06:09] sb-decoder commented on #195
Yeah joined!

[2022-10-27 06:12] Verisimilitude11 opened #271 "30 Second Commercial For DNAnalyzer"
Make a fully edited commercial for DNAnalyzer. The only requirement is to use the background music attached: https://1drv.ms/u/s!Ak23YJmC7V17iLpikGhuPdS5PnfB4g?e=XmaAxx

[2022-10-27 06:20] Verisimilitude11 commented on #17
@Nv7-GitHub, do you want to get started on this? We can add this as a CLI arg. Let me know if that works (you can take as much time as you want with this issue)!

[2022-10-27 09:09] zaino97 commented on #222
@Verisimilitude11 i have resolved it in the PR https://github.com/Verisimilitude11/DNAnalyzer/pull/253

[2022-10-27 10:42] salahhalkhoums commented on #191
Hello @Verisimilitude11 ,
I'm new to contributing to open source and would like this issue assigned to me.

[2022-10-27 11:52] LimesKey commented on #204
I'll get back to you on that, I'm still researching.

[2022-10-27 12:03] plopez26DPU commented on #249
I've done some shell scripts, I'd like to try this one too

[2022-10-27 12:25] LimesKey commented on #249
This might conflict with #242 so keep an eye out for that.

[2022-10-27 12:29] LimesKey commented on #269
I really like the modern look and layout of this website, but it might be way too complicated for developers to do.
https://solana.com/
@TheParmak wants to do https://kuon.space/ but I don't like it as much.

[2022-10-27 14:31] Verisimilitude11 commented on #191
Alright, I assigned the issue to you. Please join our discord server: https://discord.gg/5ShCNmyp

[2022-10-27 14:34] Verisimilitude11 commented on #204
Got it, no rush

[2022-10-27 17:45] Nv7-GitHub commented on #17
I'll see if I have time

[2022-10-27 19:50] Verisimilitude11 commented on #222
Alright, thanks for working on this!

[2022-10-27 21:04] LimesKey commented on #252
@Verisimilitude11 Can you elaborate?

[2022-10-27 21:27] Verisimilitude11 commented on #252
Updated

[2022-10-28 04:47] jaybob007 commented on #270
I'd like to work on this, can you assign me to it?

[2022-10-28 04:48] Verisimilitude11 commented on #270
Sure @jaybob007. Please join our Discord server (https://discord.gg/5ShCNmyp) and star this repository to show your support.

[2022-10-28 04:58] #268 closed

[2022-10-28 05:02] Verisimilitude11 commented on #206
We're currently missing tests for the following files:
<img width="470" alt="image" src="https://user-images.githubusercontent.com/96280466/198506650-c18b8c5d-6df3-4736-802c-0dd3b9306b1e.png">
<img width="430" alt="image" src="https://user-images.githubusercontent.com/96280466/198506665-70ddedb3-b1b5-427b-835c-bb2ef634b79d.png">

[2022-10-28 05:43] Verisimilitude11 opened #273 "Refactor ProteinFinder.addProtein(String,List<String>,int,List<String>)"
I've selected [**ProteinFinder.addProtein(String,List<String>,int,List<String>)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/36f7bad03e75bcbcdca7a38852c48754bb27b149/src/main/java/DNAnalyzer/protein/ProteinFinder.java#L80-L98) for refactoring, which is a unit of **10** lines of code and **4** parameters. Addressing this will make our codebase more maintainable and improve [Better Code Hu

[2022-10-28 05:43] Verisimilitude11 opened #274 "Refactor DNAAnalysis.countBasePairs(String)"
I've selected [**DNAAnalysis.countBasePairs(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/36f7bad03e75bcbcdca7a38852c48754bb27b149/src/main/java/DNAnalyzer/DNAAnalysis.java#L112-L136) for refactoring, which is a unit of **22** lines of code and **5** branch points. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s *

[2022-10-28 05:43] Verisimilitude11 opened #275 "Refactor DNAAnalysis.countBasePairs(String)"
I've selected [**DNAAnalysis.countBasePairs(String)**](https://github.com/Verisimilitude11/DNAnalyzer/blob/36f7bad03e75bcbcdca7a38852c48754bb27b149/src/main/java/DNAnalyzer/DNAAnalysis.java#L112-L136) for refactoring, which is a unit of **22** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of Co

[2022-10-28 05:43] Verisimilitude11 opened #276 "Refactor CodonDataConstants.$block1"
I've selected [**CodonDataConstants.$block1**](https://github.com/Verisimilitude11/DNAnalyzer/blob/36f7bad03e75bcbcdca7a38852c48754bb27b149/src/main/java/DNAnalyzer/codon/CodonDataConstants.java#L68-L91) for refactoring, which is a unit of **24** lines of code. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Write Short Units of

[2022-10-28 08:56] Samuel-Akin opened #277 "Form elements do not have associated labels"
I tried to analyze your website using Lighthouse an realize the toggle button does not have an _associated label_,  I'd like to fix this

![Screenshot 2022-10-28 095301](https://user-images.githubusercontent.com/108809796/198547169-b328849f-3140-456b-9dd8-675e91f62c9b.jpg)

[2022-10-28 09:14] Speedro commented on #275
Hi @Verisimilitude11 I could take a look at this one 👍🏻

[2022-10-28 14:13] LimesKey commented on #277
You can try to fix this, @krishnabiradar310802 created the website so they can help too.

[2022-10-28 17:36] Verisimilitude11 commented on #275
Sounds good, I assigned it to you. I'll review it later today!

[2022-10-28 20:00] LimesKey commented on #205
I assumed you guys were busy or didn't have time, so I created #282, I hope that was ok. Feel free to edit it since it's only a draft.

[2022-10-28 20:07] LimesKey opened #283 "google-java-format could not be run."
https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/transform/eb9beb8b-35c2-4633-94ca-bd1687d675d8/

[2022-10-29 13:55] salahhalkhoums commented on #191
duplicate of #186 already fixed

[2022-10-29 14:09] salahhalkhoums commented on #276
Hello @Verisimilitude11
Can you assign me this issue?

[2022-10-29 17:01] sanjeev0210 commented on #182
Issue #73 is a clone of this issue and that is already done. So does this still need a PR?

[2022-10-29 21:41] Verisimilitude11 commented on #191
Got it.

[2022-10-29 21:41] #191 closed

[2022-10-29 21:42] Verisimilitude11 commented on #276
@salahhalkhoums assigned it to you. Please star this repository to support our mission and join our Discord server (https://discord.gg/5ShCNmyp)!

[2022-10-29 21:43] Verisimilitude11 commented on #182
Yes, it does as that PR didn't fix the issue @sanjeev0210. Also, could you please star this repository and join our Discord server (https://discord.gg/5ShCNmyp) to support our mission? Thank you. Do you want me to assign the issue to you?

[2022-10-29 21:45] salahhalkhoums commented on #276
Sure, I have already joined the server :D

[2022-10-29 21:46] Verisimilitude11 commented on #276
Awesome, thanks!

[2022-10-30 03:17] garyglatfelter commented on #274
@Verisimilitude11 I have fixed it per the above guidelines

[2022-10-30 03:29] garyglatfelter commented on #274
Whoops. I moved the array around and I didn't catch that the null test failed :flushed:

[2022-10-30 09:18] sanjeev0210 commented on #182
okay! Will do

[2022-10-30 16:15] Ravina-Deogadkar commented on #273
Can I work on this?

[2022-10-30 16:20] Verisimilitude11 commented on #182
Sounds great!

[2022-10-30 17:24] plopez26DPU commented on #258
Assign me this :)

[2022-10-30 19:51] Verisimilitude11 commented on #273
Sure @Ravina-Deogadkar, I assigned it to you.

[2022-10-30 20:06] Verisimilitude11 commented on #258
Alright, sounds great!

[2022-10-30 22:22] LimesKey commented on #205
#282

[2022-10-30 22:22] #205 closed

[2022-10-31 03:32] Verisimilitude11 commented on #18
@plopez26DPU, not to rush you, but how far are you on this issue? Feel free to take more time, I'm just wondering if you're still interested in this! 😄

[2022-10-31 03:32] Verisimilitude11 commented on #19
@prasoonmhwr, how far are you on this issue?

[2022-10-31 03:32] Verisimilitude11 commented on #248
@CoderAayush2104, how far are you on this? Feel free to take more time on this if you want to.

[2022-10-31 03:33] Verisimilitude11 commented on #181
@sourabhkashyap95 how far are you on this? Just checking in. 😄

[2022-10-31 03:34] Verisimilitude11 commented on #17
Alright, sounds good!

[2022-10-31 04:01] sourabhkashyap95 commented on #181
@Verisimilitude11 I think this issue has been handled in this PR https://github.com/Verisimilitude11/DNAnalyzer/pull/213/files , does this method still needs more refactoring? if not then you can close this issue.

[2022-10-31 04:03] plopez26DPU commented on #18
Yeah! If you need to move forward,  go ahead. I've been battling this cli stuff lol

[2022-10-31 04:35] Verisimilitude11 commented on #18
No, it's fine, just checking in 😆. Let me know in the server if you face any difficulty with it.

[2022-10-31 06:27] #181 closed

[2022-10-31 16:35] #274 closed

[2022-11-01 00:45] LimesKey commented on #17
@Verisimilitude11 Do you want to lay off with this issue as a GUI is being developed?

[2022-11-01 00:49] Verisimilitude11 commented on #17
No I think that we should keep it actually since what we could do is develop a front end and use our current code as the backend. This would allow people to upload files to the website and get it analyzed. We would still keep the GUI and actively develop it as more privacy centric users and users wanting more performance could use it. So, we would have a CLI for power users, a GUI for scientists/r

[2022-11-01 00:54] LimesKey commented on #17
Hosting that would be expensive... you could probably add a queue system. That is a good idea though, makes it very easy for average users to use this.

[2022-11-01 01:20] LimesKey commented on #17
I can handle security stuff with Cloudflare, I'm good at that stuff.

[2022-11-01 01:50] Verisimilitude11 commented on #17
Alright, sounds great!

[2022-11-01 12:46] CoderAayush2104 commented on #248
I will not be able to do it . I am unable to put the helix animation . Sorry for the inconvenience.

[2022-11-01 17:37] Verisimilitude11 commented on #248
No worries, do you want to work on this issue instead: https://github.com/Verisimilitude11/DNAnalyzer/issues/271. In any case, to support our mission, please star this repository and join our Discord server: https://discord.gg/X3YCvGf2Ug. Thank you so much, I really appreciate it!

[2022-11-02 03:01] #270 closed

[2022-11-02 05:00] LimesKey commented on #228
With the current development of more features like the GUI & the FAB File format, it'll be too difficult to incorporate this directly into the program and it might be easier to create our own in a way.

[2022-11-02 05:46] LimesKey commented on #178
Just waiting for @Verisimilitude11 to edit the video I sent.

[2022-11-02 05:47] LimesKey commented on #229
Too in-specific

[2022-11-02 05:49] LimesKey commented on #230
Can anyone try to find a sample 23AndMe genome export for me? I can't seem to find one online. Just looking for a directly exported file from the link above and what it has in it.

[2022-11-02 05:49] LimesKey commented on #232
Not planning to use DIAMOND anymore.

[2022-11-02 05:53] LimesKey commented on #60
Perhaps @ImpossibleReality could incorporate this in #289?

[2022-11-02 06:17] LimesKey opened #293 "Invalid characters present in DNA sequence."
I'm getting ``java.lang.IllegalArgumentException: Invalid characters present in DNA sequence.`` with the standard example "GRch38dnapart.fa" file, I believe this is because it uses capital letters.

[code]

Shouldn't this also include capital letters as valid too? Lowercase letters in FASTA files simply mark that section as repetitive and uppercase letters mark it as non-repetitive or original. Th

[2022-11-02 15:27] Verisimilitude11 commented on #232
This feature would still be implemented by removing the headers from the FASTA files the user provides.

[2022-11-02 15:28] Verisimilitude11 commented on #60
No, this issue isn't related to #289 so it would make more sense to open a separate PR for this. @chxtio do you need any help with this issue? You can just use a for loop to accomplish this.

[2022-11-02 15:29] Verisimilitude11 commented on #293
I'm going to look into this. When I first coded DNAnalyzer, I had a method that converted the entire DNA string to lowercase, so isValid() would have worked. Someone may have accidentally removed in a PR though so I'll have to add it back.

[2022-11-02 22:21] LimesKey commented on #232
I am working on this, cutting-down and processing the users inputted file and converting it to .fab and .fabc (compressed) for the database files. I'm just waiting for a sample file export from 23AndMe to figure out which parts the program will not use.

[2022-11-02 22:24] LimesKey commented on #60
This is related to the processing of the inputted file, the processing would occur when translating the file from .fasta to .fab.

I believe how ImpossibleReality is doing it, it can be easily implemented in the conversion rather than a seperate process converting the letters.

[2022-11-03 01:12] Verisimilitude11 commented on #232
Sounds good. Can't you use any FASTA file though, not just from 23AndMe?

[2022-11-03 01:19] LimesKey commented on #232
I want to use the most common inputted files as a template. I thought the 23AndMe file would be the most commonly used file therefore that would let the program be more optimized and made for these types of files.

[2022-11-03 01:28] Verisimilitude11 commented on #232
They're mostly the same...We shouldn't depend on the style of one company in particular; You should use data from the Human Genome Project; we can plan for accommodating another formatting later as the data we provide under assets/dna/* is in that format.

[2022-11-03 01:36] Verisimilitude11 commented on #60
This isn't related to the processing of the inputted file; it is for outputting the RNA version of the DNA if and only if the user specifies via command-line arguments.

DNAnalyzer only analyzes DNA - not RNA. Instead, if you've looked at the code, you'll find that even if the user inputs a sequence of RNA, it converts that to DNA and does the analysis.

[2022-11-03 01:38] Verisimilitude11 commented on #237
@MartinGallauner, did this issue get resolved?

[2022-11-03 01:38] #283 closed

[2022-11-03 01:40] Verisimilitude11 commented on #277
@Samuel-Akin how far are you on this issue? Feel free to take more time if necessary. I would appreciate it if you could star this repository to show your support if you haven't done so already. If you have any questions, please join our Discord server: https://discord.gg/X3YCvGf2Ug.

[2022-11-03 01:40] LimesKey commented on #60
Got it

[2022-11-03 01:46] LimesKey commented on #178
To be honest, I don't know all the features of the program in full detail. Perhaps you can show me @Verisimilitude11?

[2022-11-03 07:10] Verisimilitude11 commented on #252
@jaybob007 could you please help me publish the Gradle package to GitHub Packages? I haven't worked with it before. Thanks.

[2022-11-04 00:13] chxtio commented on #60
@Verisimilitude11 Just saw your comment. Let me hop on the discord in a bit

[2022-11-04 00:14] Verisimilitude11 commented on #60
Sounds great!

[2022-11-04 07:19] #239 closed

[2022-11-04 07:22] #276 closed

[2022-11-06 01:42] #121 closed

[2022-11-06 01:58] Verisimilitude11 commented on #273
@Ravina-Deogadkar how far are you on this issue?

[2022-11-06 01:58] #262 closed

[2022-11-06 01:58] Verisimilitude11 commented on #269
@TheParmak and @LimesKey , how far are you guys on this issue?

[2022-11-06 01:59] Verisimilitude11 commented on #258
@plopez26DPU, not to rush you, but how far are you on this issue? Feel free to take more time, just checking in.

[2022-11-06 01:59] Verisimilitude11 commented on #261
@garyglatfelter, not to rush you, but how far are you on this issue? Feel free to take more time, just checking in.

[2022-11-06 02:00] Verisimilitude11 commented on #249
@plopez26DPU, how far are you on this issue as well?

[2022-11-06 02:00] TheParmak commented on #269
As far as I can spend time on it which is none currently:/

[2022-11-06 02:00] Verisimilitude11 commented on #245
@plopez26DPU, did you resolve this issue?

[2022-11-06 02:00] #222 closed

[2022-11-06 02:03] Verisimilitude11 commented on #269
Alright, no worries. Do you have an estimated timeline on when you can get it done by?

[2022-11-06 02:04] Ravina-Deogadkar commented on #273
I am done, I will send PR today

[2022-11-06 02:05] Verisimilitude11 commented on #273
Sounds good, thanks!

[2022-11-06 02:35] TheParmak commented on #269
Well, I don't really know honestly. All I can say I "should" be free in not more than 20 days but 🤷‍♂️

[2022-11-06 02:35] TheParmak commented on #269
I'll certainly work on this at the first chance when I have time but having time is kinda hard these days

[2022-11-06 02:42] plopez26DPU commented on #258
@Verisimilitude11 , been moving slow lately. Work and school stealing my free time 😔

[2022-11-06 02:42] plopez26DPU commented on #245
I started working on a new argument passing, going to get on it again tomorrow

[2022-11-06 07:34] Ravina-Deogadkar commented on #273
Added PR https://github.com/Verisimilitude11/DNAnalyzer/pull/294

[2022-11-06 12:58] frankschmitt opened #295 "Add Javadocs for GUI classes / methods"
**Is your feature request related to a problem? Please describe.**
The Javadocs for the new GUI are still missing, see https://github.com/Verisimilitude11/DNAnalyzer/pull/286

**Describe the solution you'd like**
Complete Javadocs

[2022-11-06 13:02] frankschmitt opened #296 "Add support drag&drop in GUI"
The GUI should support drag&drop of DNA files (and possibly protein files). See also https://github.com/Verisimilitude11/DNAnalyzer/pull/286

[2022-11-06 13:02] frankschmitt commented on #296
@Verisimilitude11 You can assign this issue to me if you like.

[2022-11-06 22:10] Verisimilitude11 commented on #296
Assigned.

[2022-11-07 00:06] Verisimilitude11 commented on #269
I can relate, don't worry about it. By the way, do you know how to code in Python?

[2022-11-07 00:08] TheParmak commented on #269
Yes, I do. Of course.

[2022-11-07 03:47] garyglatfelter commented on #261
Well, it's coming along. Just .....not quite as quickly as I thought (time constraints/busy week). Curious on a couple of things though:

1) There isn't really a class that sort of encapsulates (not sure if that's the right word) the data object of interest. Would you be opposed to having a class that sort of acts as the container for the DNA string of interest, its corresponding codon map, and ma

[2022-11-07 06:38] LimesKey commented on #232
@Verisimilitude11 will be creating an issue in the DIAMOND repo discussing this, hopefully, we can solve this.

[2022-11-07 06:39] LimesKey commented on #228
So far, we have made the decision to not re-write this in Rust or another programming language but to implement it directly with minor tweaks.

[2022-11-07 06:50] LimesKey commented on #232
If we can shrink both the inputted and database file, there will be a massive improvement in DIAMOND's performance
If we can also tweak DIAMOND in a way to read/analyze a binary file, it would be great

[2022-11-07 17:27] Verisimilitude11 commented on #261
Hi @garyglatfelter, no worries.

1. I'm open to that, but what would be a benefit of encapsulating the DNA string?
2. That's correct
3. Could you please elaborate a bit more on this in the Discord server? I didn't completely understand what you mean by generating the corresponding sequence.

Thank you so much for contributing to DNAnalyzer!

[2022-11-08 05:15] VerisimilitudeX opened #298 "(JAVA-D1001) Undocumented method found"
## Description
This method does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There are 5 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1001/occurrences/)

[2022-11-08 05:15] Verisimilitude11 opened #299 "(JAVA-D1003) Undocumented declaration found"
## Description
This declaration is not documented. Consider adding a documentation comment to explain its functionality.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1003/occurrences/)

[2022-11-08 05:15] VerisimilitudeX opened #300 "(JAVA-D1000) Undocumented class found"
## Description
This class does not have any documentation. Consider adding a documentation comment to explain its use.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-D1000/occurrences/)

[2022-11-08 05:15] Verisimilitude11 opened #301 "(JAVA-E0029) Unsafe usage of `getResource`"
## Description
Usage of `getResource` may be unsafe if this class is extended.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0029/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-E0029/occurrences/)

[2022-11-08 05:15] Verisimilitude11 opened #302 "(JAVA-E1066) Private fields which are only set to null should be removed"
## Description
A private field has been found which is only set to `null`. Despite this, the field is still accessed (either as a method call target, or as a method argument). This could cause a `NullPointerException` to occur.

## Occurrences
There are 6 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-

[2022-11-10 09:45] Capalotty commented on #300
Hi....could you please assign this project to me

[2022-11-10 10:12] Kit-p opened #303 "Proposal: Enhanced Modularization for better Extensibility"
**Is your feature request related to a problem? Please describe.**
As the project grows in complexity, the main package will become cluttered with code for things like I/O handling, CLI/GUI interfaces, etc.. It will become difficult to onboard new contributors, and impossible for other projects to be extended from here.

**Describe the solution you'd like**
Code for different aspects should be sep

[2022-11-10 17:44] Verisimilitude11 commented on #300
Hi, thank you so much for your interest in contributing to DNAnalyzer! I would really appreciate it if you could star this repository to show your support, if you haven't done so already. I (or another member from our team) will review your PR in the next 48 hours, and will get back to you. If you have any questions, please join our Discord server: https://discord.gg/X3YCvGf2Ug.

[2022-11-11 07:17] Verisimilitude11 commented on #303
Thanks for the issue @Kit-p! @Speedro, do you want to take a look at it?

[2022-11-11 07:20] #273 closed

[2022-11-11 07:24] Verisimilitude11 opened #305 "(JAVA-W1058) JUnit5 test classes and methods should be package-private"
## Description
JUnit5 test classes and methods should be package-private.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1058/occurrences/](https://deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1058/occurrences/)

[2022-11-11 07:50] VerisimilitudeX opened #306 "Complementary DNA sequence"
This feature will help us to identify transcription factors. Here are the specifications of this issue:
1. Duplicate the DNA sequence
2. Find all occurrences of 'A' and change it to 'T'
3. Find all occurrences of 'T' and change it to 'A'
4. Find all occurrences of 'G' and change it to 'C'
5. Find all occurrences of 'C' and change it to 'G'
6. Return the DNA string

You're not required to know this

[2022-11-11 08:53] Speedro commented on #303
LGTM 🙂, maybe one thing - the ui related logic can be inside ui package. Client code is often related to the code that handles other app integration logic.

[2022-11-11 13:55] iaacornus commented on #303
the utils can be further divided into `core` (main dependency of vital functions), `misc` (is not a requirement for vital functions), and other subpackages which assists the program. Then the `core` contains the modules which will constitute the main logic. Then `shared`, which is also like utils, but multiple packages/modules depend on it, this can also be broken down into `core` and `misc`. `dat

[2022-11-11 21:23] #303 closed

[2022-11-13 15:07] Ravina-Deogadkar commented on #305
Hi, can I take this issue?

[2022-11-13 15:09] Ravina-Deogadkar commented on #302
Can I have a look at this task?

[2022-11-13 17:20] Verisimilitude11 commented on #305
Sure @Ravina-Deogadkar, I assigned the issue to you.

[2022-11-13 17:22] Verisimilitude11 commented on #302
Sure @Ravina-Deogadkar, we would really appreciate that. Thanks for being a consistent contributor to DNAnalyzer!

[2022-11-14 16:09] LimesKey commented on #306
Is this related to detecting gene redundancy by cutting out the complementary DNA sequence in order to increase performance?

[2022-11-14 17:03] Verisimilitude11 commented on #306
No, this is more involved with new features (for example, the one that Karzinisierung was talking about). I added a description to the issue to clarify it.

[2022-11-14 17:10] #299 closed

[2022-11-14 17:14] VerisimilitudeX opened #311 "(JAVA-W1004) Methods must not be empty"
## Description
This method is empty and does not appear to have any explanation regarding why. This may confuse future readers of this code. Additionally, such code produces needless, avoidable clutter.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Verisimilitude11/DNAnalyzer/issue/JAVA-W1004/occurrences/](https:/

[2022-11-14 17:19] Verisimilitude11 commented on #182
@sanjeev0210 how far are you on this issue?

[2022-11-14 17:20] #173 closed

[2022-11-14 17:47] LimesKey commented on #306
I've taken a small break because I'm having trouble finding a few reference files from a variety of different sources to try to create a universal program to do this. I should try contacting that Google-Fuu wizard in the discord, maybe he can help.

Feel free to help at all, I'll continue working on it but if you have a solution you can for sure add it. I'm going to try to update the Github Projec

[2022-11-15 16:57] Verisimilitude11 commented on #293
@LimesKey do you still see this bug occurring?

[2022-11-15 16:57] #237 closed

[2022-11-15 16:58] Verisimilitude11 commented on #277
@Samuel-Akin are you still interested in working on this?

[2022-11-15 18:28] LimesKey commented on #293
Nope, the bug appears to be fixed.

[2022-11-15 18:28] #293 closed

[2022-11-16 16:49] Verisimilitude11 commented on #277
Alright, sounds good. Let me know if you need any more help with this issue.

[2022-11-19 17:16] Ravina-Deogadkar commented on #305
Created pull request #319

[2022-11-19 17:31] Ravina-Deogadkar commented on #302
Hi, I have checked and found that those fields can't be removed as they are referencing UI elements in DNAnalyzerGUI.fxml file

[2022-11-26 15:44] sanjeev0210 commented on #182
Hello @Verisimilitude11. I'm still looking into it. Will let you know once I'm done.

[2022-11-28 15:54] MartinGallauner commented on #298
Hi!
Do you want to assign me?

[2022-11-28 16:55] Verisimilitude11 commented on #182
Sounds good @sanjeev0210.

[2022-11-28 16:55] Verisimilitude11 commented on #298
Sure @MartinGallauner, thanks!

[2022-11-30 02:12] #305 closed

[2022-11-30 02:13] Verisimilitude11 commented on #295
@frankschmitt do you want to work on this as you did the GUI? Thanks for your help - we really appreciate it!

[2022-11-30 02:13] Verisimilitude11 commented on #296
@frankschmitt just checking in - how far are you on this issue?

[2022-11-30 02:15] Verisimilitude11 commented on #248
@CoderAayush2104 do you think that you can make a new logo for DNAnalyzer under any specification of your choosing? We would really appreciate your help on this! Thank you.

[2022-11-30 02:16] Verisimilitude11 commented on #252
@jaybob007 could you please help with publishing the package in the Discord server? Thanks!

[2022-11-30 02:17] Verisimilitude11 commented on #60
@chxtio just checking in - how far are you on this issue?

[2022-11-30 02:19] Verisimilitude11 commented on #300
![image](https://user-images.githubusercontent.com/96280466/204691587-d220c143-3b53-4893-a4ad-2b5a5a185a60.png)

[2022-11-30 17:46] chxtio commented on #60
@Verisimilitude11 Hi, not much yet. I plan on resuming after my finals are over (after Sun). Sorry for the delay

[2022-11-30 19:20] Verisimilitude11 commented on #60
@chxtio Alright, sounds like a great plan. Good luck on your finals!